.venv*
.winvenv/
__pycache__/
/ladx_maptracker_muffinjets_wolfman2000/
/graphics/
/states/
/static/images/temp/
/static/images/backup/
/static/images/entrances/backup/
/dist/
/build/
/deploy/
/autotracking/rom
/autotracking/autotracker-version
/version
/image-tools/
*.xcf
/instance
/vue-dist
/magpie-vue/node_modules
/magpie-vue/dist
magpie-vue/.vite/
magpie.log
