nowrap {
    white-space: nowrap;
}

.itemWrapper {
    position: relative;
    display: inline-block;
}

.itemImage {
    width: 100%;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

.secondary {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    line-height: 16px;
    padding-left: 2px;
}

.node-overlay-wrapper {
    width: 100%;
    height: 100%;
}

.node-overlay {
    width: 100%;
    height: 100%;
    font-weight: bold;
    /* text-shadow is handled in JS for pinch zoom scaling */
    user-select: none;
    z-index: 10;
    position: absolute;
}

.node-boss-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 100%;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.node-item-overlay {
    position: absolute;
    left: 85%;
    top: 75%;
    max-height: 60%;
    min-height: 60%;
    user-select: none;
    pointer-events: none;
    z-index: 15;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 0.5px #000)
            drop-shadow(0px 0px 0.5px #000)
            drop-shadow(0px 0px 0.5px #000)
            drop-shadow(0px 0px 0.5px #000)
            drop-shadow(0px 0px 0.5px #000);
}

.quicksettings-wrapper {
    position: relative;
    width: 21px;
    height: 21px;
}

.quicksettings-col {
    width: 290px;
}

.full {
    color: green;
}

.small {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    /* padding-left: 0;
    padding-right: 0; */
    display: inline-block;
}

/* .dungeon-wrapper {
    margin-left: -5px !important;
    margin-right: -5px !important;
} */

#autotrackerMessages {
    width: 100%;
    height: 75px;
    max-height: 75px;
    min-height: 75px;
}

#spoilAllButton {
    width: 100%;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.rom-label {
    display: block;
}

.rom-col {
    width: 294px;
}

img {
    user-select: none;
}

#items {
    user-select: none;
}

#item-blank, #spoilerSeed {
    width: 294px;
}

.hidden {
    display: none;
    width: 0px;
    z-index: -50;
}

.offcanvas {
    --bs-offcanvas-width: fit-content;
}

.accordion-button {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:not(.collapsed) {
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:focus {
    border-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    box-shadow: 0px 0px;
}

.accordion-item {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.map {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.map-overlay {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.mapImage {
    max-width: 100%;
}

.map-container {
    display: inline-block;
    position: relative;
    pointer-events: auto;
    width: 100%;
}

.tooltip-body {
    display: inline-block;
    position: relative;
    pointer-events: auto;
}

.tooltip {
    opacity: 1 !important;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 0.3s;
}

.animate__animated.animate__bounceInDown {
    --animate-duration: 0.3s;
}

.owned-item-bar:not(.secondary) > img, .owned-item-bar.highlight-owned-secondary > img {
    border-bottom: 5px solid;
    margin-bottom: -5px;
    border-radius: 3px;
}

.owned-item-square:not(.secondary), .owned-item-square.highlight-owned-secondary {
    border-radius: 3px;
}

.itemImage.glow:hover {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.secondary:hover + .itemImage.glow {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.tooltip-check-graphic {
    position: relative;
    width: 21px;
    height: 21px;
    text-align: center;
    float: left;
}

.tooltip-area-card {
    background-color: var(--bs-tooltip-bg);
}

.tooltip-item {
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    padding: 1px;
    cursor: default;
    border: none;
    font-size: var(--bs-tooltip-font-size) !important;
}

.even-col {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#plandoButton {
    width: 100%;
}

.tooltip-check {
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    padding: 1px;
    cursor: default;
    border: none;
    font-size: var(--bs-tooltip-font-size) !important;
}

.tooltip-item .tooltip-check {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.tooltip-body .tooltip-item:hover {
    background-color: rgba(255, 255, 255, .2);
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.tooltip-item:hover {
    background-color: rgba(255, 255, 255, .1);
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.dropend {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.dropend .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

.dropdown-toggle-split {
    flex-grow: 0 !important;
}

.tooltip-area-header {
    background-color: #222;
    background-blend-mode: normal;
}

.tooltip-text {
    display: inline-block;
    line-height: 21px;
    width: 100%;
}

.legend-text {
    display: inline-block;
}

.text-check {
    cursor: default;
}

.text-check-col:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
}

/* .behind-keys:not(.difficulty-checked) .behind-keys-overlay,
.behind-rupees:not(.difficulty-checked) .behind-keys-overlay {
    position: absolute;
    left: 15%;
    top: 75%;
    width: 50%;
    height: 50%;
    background-image: url('/static/images/lock-fill.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 10;
} */

.behind-rupees:not(.difficulty-checked) .behind-rupees-overlay {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 90%;
    height: 90%;
    background-image: url('/static/images/vector-rupee.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -50%)
               scale(90%);
    z-index: 10;
}

.behind-keys:not(.difficulty-checked) .behind-rupees-overlay {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/lock-fill.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -50%)
               scale(60%);
    z-index: 10;
}

.check-graphic {
    position: absolute;
}

#linkFace {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #ccc) drop-shadow(0px 0px 5px #ccc);
    transition: all .5s linear;
}

.check-graphic.check-glow:hover, .spoiler-highlight {
    filter: drop-shadow(0px 0px 5px #ccc) drop-shadow(0px 0px 5px #ccc);
    z-index: 999 !important;
}

.partial-entrance .partial-entrance-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/partial-entrance.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 15;
}

.entrance-only:not(.unmapped-entrance) {
    border-style: none;
    background-image: url('/static/images/entrance.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.vanilla-entrance-only:not(.unmapped-entrance) {
    border-style: none;
    background-image: url('/static/images/vanilla-entrance.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.one-way-out .one-way-out-overlay {
    background-image: url('/static/images/one-way-out.svg');
    background-size: 100%;
    width: 140%;
    height: 140%;
    position: absolute;
    bottom: -120%;
    left: -20%;
    pointer-events:none;
}

.one-way-in .one-way-in-overlay {
    background-image: url('/static/images/one-way-in.svg');
    background-size: 100%;
    width: 140%;
    height: 140%;
    position: absolute;
    bottom: -120%;
    left: -20%;
    pointer-events:none;
}

.owl:not(.difficulty-checked) .owl-overlay {
    border-style: none;
    background-image: url('/static/images/new-owl.svg');
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.entrance-only.unmapped-entrance .unmapped-entrance-overlay {
    border-style: none;
    background-image: url('/static/images/entrance.svg');
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    /* margin-left: 25%;
    margin-top: 35%; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -35%);
}

.entrance-only.unmapped-entrance.entrance-difficulty-0 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-1 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-2 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-3 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-4 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-8 {
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-9 {
    z-index: 2;
}

.bk {
    border-style: none;
    background-image: url('/static/images/BK.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-checked {
    z-index: 1;
}

.difficulty-0, .difficulty-8 {
    z-index: 2;
}

.connector:not([data-difficulty="checked"]) {
    z-index: 10;
}

.difficulty-8 .node-overlay-wrapper:not([data-hidedifficulty="1"]) .difficulty-8-overlay,
.entrance-difficulty-8:not(.vanilla) .entrance-difficulty-8-overlay,
.difficulty-8.static-difficulty-wrapper .difficulty-8-overlay, 
.difficulty-8.tooltip-check-graphic .difficulty-8-overlay {
    z-index: 10;
    border-style: none;
    background-image: url('/static/images/tracker-logic.svg');
    position: absolute;
    left: 85%;
    top: 25%;
    width: 60%;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -50%);
}

svg.hollow {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(60%);
}

.difficulty-3 svg.hollow,
.difficulty-4 svg.hollow {
    transform: scale(50%);
}

.difficulty-2 svg.hollow {
    transform: scale(45%)
               translate(0, 20%);
}

.difficulty-1 svg.hollow {
    transform: scale(55%)
               translate(0, 5%);
}

.icon-wrapper {
    float: left;
    width: 100%;
    height: 100%;
}

.icon {
    float: left;
}

.difficulty-0.vanilla, .difficulty-8.vanilla {
    z-index: 0;
}

.svg-map-icon {
    fill-opacity: 1;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.static-difficulty-wrapper {
    width: 21px;
    height: 21px;
    position: relative;
    display: inline-block;
}

.static-difficulty {
    width: 21px;
    height: 21px;
}

.color-block {
    display: inline-block;
    padding: 0;
    position: relative;
    height: 21px;
    line-height: 21px;
}

.opacity-block {
    display: inline-block;
}

.color-picker {
    width: 25px;
    height: 100%;
    margin: 0 auto;
}

.color-label {
    position: relative;
    top: -4px;
}

.difficulty-1 {
    z-index: 2;
}

.difficulty-1.vanilla {
    z-index: 0;
}

.difficulty-2 {
    z-index: 2;
}

.difficulty-2.vanilla {
    z-index: 0;
}

.difficulty-3 {
    z-index: 2;
}

.difficulty-3.vanilla {
    z-index: 0;
}

.difficulty-4 {
    z-index: 2;
}

.difficulty-4.vanilla {
    z-index: 0;
}

.difficulty-9 {
    z-index: 0;
}

.difficulty-9.vanilla {
    z-index: 0;
}

button.nav-link {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity));
}

button.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.container {
    max-width: 1500px;
}

.popover {
    max-width: 400px;
    --bs-popover-bg: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.popover-header {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.popover-body {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.tooltip {
    max-width: 500px;
    pointer-events: none;
}

.tooltip-inner {
    max-width: 500px;
}

.key-indicator-wrapper {
    float: left;
}

.key-indicator {
    height: 16px;
    width: 8.61px;
}

.check-name {
    float: left;
}

.left-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.middle-click {
    background-image: url('/static/images/middle-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.right-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: scaleX(-1);
}

#checkListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkLocationsListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkListCol {
    width: 300px;
}

.check-input {
    width: 100%;
}

.check-item {
    display: block;
}

.modal-content {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.modal-header {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}
.modal-footer {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.modal-body {
    display: inline-block;
}

.connector-row:hover {
    background-color: #555;
    border-radius: 10px;
}

.connector-item:hover {
    background-color: #555;
    border-radius: 10px;
}

.connector-item.checked {
    background-color: #999;
    border-radius: 10px;
}

.big-button {
    width: 100%;
    height: 100%;
}

.big-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.helper {
    float: right;
    height: 21px;
    padding-left: 10px;
}

.footer-row {
    width: 100%;
}

.filter-col {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.end-filter-col {
    width: 125px;
}

.filter-image {
    height: 32px;
    width: 32px;
}

.entrance-from {
    border: 10px solid #ff9a00;
    border-radius: 100%;
    z-index: 20000;
    pointer-events: none;
}

.entrance-to {
    border: 10px solid #00a2ff;
    border-radius: 100%;
    z-index: 20000;
    pointer-events: none;
}

.outer-entrance-connection {
    border: 10px double #000;
    border-radius: 100%;
    z-index: 20001;
    pointer-events: none;
}

.tooltip:has(.pinned) {
    z-index: 20010 !important;
}

.secondary-tooltip {
    z-index: 20011 !important;
}

.possible-start-location {
    border-style: none;
    background-image: url('/static/images/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.possible-start-location .possible-start-location-overlay {
    border-style: none;
    background-image: url('/static/images/unmapped-entrance.svg');
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.start-location.difficulty-checked {
    border-style: none;
    background-image: url('/static/images/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.start-location:not(.difficulty-checked) .start-location-overlay {
    content: '';
    background-image: url('/static/images/house.svg');
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
}

.dropdown-menu {
    padding: 0.5rem;
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    max-height: 80vh;
    overflow: auto;
}

.dropdown-item:focus {
    background-color: rgba(255, 255, 255, .1);
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.dropdown-item {
    margin-right: 31px;
}

.tooltip-text-span {
    vertical-align: middle;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
}

.great-fairy {
    width: 74px;
    margin: auto;
}

.quicksettings-container {
    display: flex;
    flex-flow: column;
}

.fill-box {
    flex: 1 1 auto;
}

.bottom-container {
    position: relative;
}

.note-editable {
    background: #fff;
    color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.tab:not(.active) {
    display: none;
}

.quicktab-button.active .quicktab-link {
    border-color: #fff;
    color: #fff;
    /* background-color: #6c757d; */
}

.quicktab-button:not(.active) .quicktab-link:hover {
    border-color: #ccc;
}

.quicktab-link {
    border-radius: 0px 0px 5px 5px;
}

.tab-button.active .tab-link {
    border-color: #fff;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
}

.tab-button:not(.active) .tab-link:hover {
    border-color: #ccc;
    border-radius: 5px 5px 0px 0px;
}

.quicktab-link {
    border-color: transparent;
    padding: 9px 16px 8px 16px;
    border-width: 0px 1px 1px 1px;
    color: #ccc;
}

.tab-link {
    border-color: transparent;
    padding: 9px 16px 8px 16px;
    border-width: 1px 1px 0px 1px;
    color: #ccc;
}

.autotracker-button {
    width: 100%;
}

.quicktab-button .quicksetting-icon {
    filter: invert(1);
    width: 16px;
    height: 16px;
}

img.button-icon {
    width: 16px;
    height: 16px;
}

.invert {
    filter: invert(1);
}

.check-item-image-wrapper {
    height: 24px;
    width: 24px;
}

.check-item-image {
    height: 24px;
    display: block;
    margin: auto;
}

.boss-menu-image-wrapper {
    height: 32px;
    width: 32px;
    justify-content: center;
    display: flex;
}

.boss-menu-image {
    max-height: 32px;
    max-width: 32px;
    display: block;
    margin: auto;
}

.boss-item {
    display: flex;
    line-height: 32px;
}

.plando-item {
    display: flex;
}

.text-dropdown {
    background-color: #000;
}

.text-item {
    display: block;
    margin: auto;
    height: 20px;
}

.text-item-wrapper {
    float: left;
}

.text-buffer {
    width: 20px;
}

.version {
    height: 100%;
    display: flex;
    align-items: center;
}

.update-button {
    width: 50px;
}

body {
    overflow-y: scroll;
}

.settings-image {
    max-width: 20px;
    max-height: 20px;
    margin-right: 0.25em;
}

.quicksettings-image {
    max-width: 32px;
    max-height: 32px;
    margin-right: 0.25em;
}

.quicksettings-icon {
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
}

.quicksettings-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

.settings-wrapper {
    position: relative;
    width: 21px;
    height: 21px;
}

.card-header {
    background-color: rgba(255, 255, 255, .1);
}

.accordion-collapse {
    transition: none !important;
}

.animate__fadeOut {
    pointer-events: none;
}

.node-opacity-slider {
    width: 100px;
}

#items .row, #items.row , .border-me .row, .border-me.row {
    --bs-gutter-x: 0rem;
}

.px-2_5 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.item-width {
    width: 294px;
}

.full-height {
    height: 100%;
}

.item-border {
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
}

img[data-status="off"] {
    display: none;
}

img[data-status="on"] {
    background-color: #0b0;
    border-radius: 5px;
    margin-left: 12px;
}

img[data-status="error"] {
    background-color: #b00;
    border-radius: 5px;
    margin-left: 12px;
}

span.logic-name {
    text-transform: capitalize;
}

.parent-center {
    position: absolute;
    transform: translate(-50%, -50%);
}

.dungeon-parent {
    position: relative;
}