.nowrap {
    white-space: nowrap;
}

.itemWrapper {
    position: relative;
    display: inline-block;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

.secondary {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.full {
    color: green;
}

.small {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}

.center {
    width: 50%;
    margin: 0 auto;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#items {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.offcanvas {
    --bs-offcanvas-width: fit-content;
}

.accordion-button {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:not(.collapsed) {
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:focus {
    border-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    box-shadow: 0px 0px;
}

.accordion-item {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.map {
    max-width: 100%;
}

.map-container {
    display: inline-block;
    position: relative;
}

.checkGraphic {
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    opacity: 0.85;
}

.tooltip-check-graphic {
    border-style: solid;
    border-width: 3px;
    border-color: #ccc;
}

.difficulty-checked {
    background: #000;
    opacity: 0.6;
}

.difficulty-0 {
    background: #0F0;
}

.difficulty-1 {
    background: #FF0;
}

.difficulty-2 {
    background: #F80;
}

.difficulty-3 {
    background: #F40;
}

.difficulty-4 {
    background: #F00;
}

button.nav-link {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity));
}

button.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.container {
    max-width: 1500px;
}

.popover {
    max-width: 400px;
    --bs-popover-bg: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.popover-header {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.popover-body {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.tooltip {
    max-width: 500px;
}

.tooltip-inner {
    max-width: 500px;
}