.nowrap {
    white-space: nowrap;
}

.itemWrapper {
    position: relative;
    display: inline-block;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

.secondary {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    line-height: 16px;
    padding-left: 2px;
}

.node-overlay-wrapper {
    width: 100%;
    height: 100%;
}

.node-overlay {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
    position: absolute;
}

.node-item-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 60%;
    min-height: 60%;
    user-select: none;
    pointer-events: none;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.full {
    color: green;
}

.small {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    /* padding-left: 0;
    padding-right: 0; */
    display: inline-block;
}

/* .dungeon-wrapper {
    margin-left: -5px !important;
    margin-right: -5px !important;
} */

#autotrackerMessages {
    width: 100%;
    height: 75px;
    max-height: 75px;
    min-height: 75px;
}

#spoilAllButton {
    width: 100%;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.rom-label {
    display: block;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#items {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 270px;
}

#item-blank, #spoilerSeed {
    width: 270px;
}

.hidden {
    display: none;
    width: 0px;
    z-index: -50;
}

.offcanvas {
    --bs-offcanvas-width: fit-content;
}

.accordion-button {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:not(.collapsed) {
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:focus {
    border-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    box-shadow: 0px 0px;
}

.accordion-item {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.map {
    max-width: 100%;
}

.mapImage {
    max-width: 100%;
}

.map-container {
    display: inline-block;
    position: relative;
    pointer-events: auto;
    width: 100%;
}

.tooltip-body {
    display: inline-block;
    position: relative;
    pointer-events: auto;
}

.tooltip {
    opacity: 1 !important;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 0.3s;
}

.animate__animated.animate__bounceInDown {
    --animate-duration: 0.3s;
}

/* .owned-item:not(.secondary) { */
    /* background-color: #444;
    border-radius: 3px; */
    /* filter: drop-shadow(0px 0px 2px #ccc);
} */

.itemImage.glow:hover {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.secondary:hover + .itemImage.glow {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.tooltip-check-graphic {
    position: relative;
    width: 21px;
    height: 21px;
    display: inline-block;
    text-align: center;
}

.tooltip-area-card {
    background-color: var(--bs-tooltip-bg);
}

.tooltip-item {
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    padding: 1px;
    cursor: default;
    border: none;
    font-size: var(--bs-tooltip-font-size) !important;
}

.even-col {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#plandoButton {
    width: 100%;
}

.tooltip-check {
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    padding: 1px;
    cursor: default;
    border: none;
    font-size: var(--bs-tooltip-font-size) !important;
}

.tooltip-item:hover .tooltip-check {
    background-color: #444;
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.tooltip-item:hover {
    background-color: #444;
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.dropend {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.dropend .btn:first-child {
    flex-grow: 1;
    text-align: left;
}

.dropdown-toggle-split {
    flex-grow: 0 !important;
}

.tooltip-area-header {
    background-color: #222;
    background-blend-mode: normal;
}

.tooltip-text {
    display: inline-block;
    line-height: 21px;
    width: 100%;
}

.legend-text {
    display: inline-block;
}

.text-check {
    cursor: default;
}

.text-check:hover {
    background-color: #444;
    border-radius: 3px;
}

.behind-keys:not(.difficulty-checked):before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90%;
    height: 90%;
    background-image: url('/static/images/key.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(5%, 5%);
}

.check-graphic {
    position: absolute;
}

#linkFace {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #ccc) drop-shadow(0px 0px 5px #ccc);
}

.check-graphic:hover, .spoiler-highlight {
    filter: drop-shadow(0px 0px 5px #ccc) drop-shadow(0px 0px 5px #ccc);
}

.partial-entrance {
    border-style: none;
    background-image: url('/static/images/partial-entrance.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.entrance-only:not(.unmapped-entrance) {
    border-style: none;
    background-image: url('/static/images/entrance.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.one-way-out:before {
    content: '';
    background-image: url('/static/images/one-way-out.svg');
    background-size: 100%;
    width: 140%;
    height: 140%;
    position: absolute;
    bottom: -120%;
    left: -20%;
    pointer-events:none;
}

.one-way-in:before {
    content: '';
    background-image: url('/static/images/one-way-in.svg');
    background-size: 100%;
    width: 140%;
    height: 140%;
    position: absolute;
    bottom: -120%;
    left: -20%;
    pointer-events:none;
}

.owl:not(.difficulty-checked):before {
    content: '';
    border-style: none;
    background-image: url('/static/images/owl.svg');
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -45%);
}

.entrance-only.unmapped-entrance:before {
    content: '';
    border-style: none;
    background-image: url('/static/images/entrance.svg');
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    /* margin-left: 25%;
    margin-top: 35%; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translate(-50%, -35%);
}

.entrance-only.unmapped-entrance.entrance-difficulty-0 {
    border-style: none;
    background-image: url('/static/images/difficulty-0.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-1 {
    border-style: none;
    background-image: url('/static/images/difficulty-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-2 {
    border-style: none;
    background-image: url('/static/images/difficulty-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-3 {
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-4 {
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.entrance-only.unmapped-entrance.entrance-difficulty-9 {
    border-style: none;
    background-image: url('/static/images/difficulty-9.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

/* .entrance-only.unmapped-entrance.entrance-difficulty-0:after {
    content: '';
    border-style: none;
    background-image: url('/static/images/difficulty-0.svg');
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entrance-only.unmapped-entrance.entrance-difficulty-1:after {
    content: '';
    border-style: none;
    background-image: url('/static/images/difficulty-1.svg');
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entrance-only.unmapped-entrance.entrance-difficulty-2:after {
    content: '';
    border-style: none;
    background-image: url('/static/images/difficulty-2.svg');
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entrance-only.unmapped-entrance.entrance-difficulty-3:after {
    content: '';
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entrance-only.unmapped-entrance.entrance-difficulty-4:after {
    content: '';
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    z-index: -10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

.bk {
    border-style: none;
    background-image: url('/static/images/BK.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-checked {
    border-style: none;
    background-image: url('/static/images/checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.difficulty-0 {
    border-style: none;
    background-image: url('/static/images/difficulty-0.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-0.vanilla {
    background-image: url('/static/images/difficulty-0-vanilla.svg');
}

.difficulty-1 {
    border-style: none;
    background-image: url('/static/images/difficulty-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-1.vanilla {
    background-image: url('/static/images/difficulty-1-vanilla.svg');
}

.difficulty-2 {
    border-style: none;
    background-image: url('/static/images/difficulty-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-2.vanilla {
    background-image: url('/static/images/difficulty-2-vanilla.svg');
}

.difficulty-3 {
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-3.vanilla {
    background-image: url('/static/images/difficulty-3-vanilla.svg');
}

.difficulty-4 {
    border-style: none;
    background-image: url('/static/images/difficulty-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.difficulty-4.vanilla {
    background-image: url('/static/images/difficulty-3-vanilla.svg');
}

.difficulty-9 {
    border-style: none;
    background-image: url('/static/images/difficulty-9.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.difficulty-9.vanilla {
    background-image: url('/static/images/difficulty-9-vanilla.svg');
}

button.nav-link {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity));
}

button.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.container {
    max-width: 1500px;
}

.popover {
    max-width: 400px;
    --bs-popover-bg: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.popover-header {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.popover-body {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.tooltip {
    max-width: 500px;
    pointer-events: none;
}

.tooltip-inner {
    max-width: 500px;
}

.key-indicator-wrapper {
    float: left;
}

.key-indicator {
    height: 16px;
}

.check-name {
    float: left;
}

.left-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.right-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: scaleX(-1);
}

#checkListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkLocationsListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkListCol {
    width: 300px;
}

.check-input {
    width: 100%;
}

.check-item {
    display: block;
}

.modal-content {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.modal-header {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}
.modal-footer {
    color: var(--bs-light-rgb);
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.modal-body {
    display: inline-block;
}

.connector-row:hover {
    background-color: #555;
    border-radius: 10px;
}

.connector-item:hover {
    background-color: #555;
    border-radius: 10px;
}

.connector-item.checked {
    background-color: #999;
    border-radius: 10px;
}

.big-button {
    width: 100%;
    height: 100%;
}

.big-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.helper {
    float: right;
    height: 21px;
    padding-left: 10px;
}

.footer-row {
    width: 100%;
}

.filter-col {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.end-filter-col {
    width: 125px;
}

.filter-image {
    height: 32px;
    width: 32px;
}

.entrance-from {
    border: 10px solid #ff9a00;
    border-radius: 100%;
    z-index: 100;
    pointer-events: none;
}

.entrance-to {
    border: 10px solid #00a2ff;
    border-radius: 100%;
    z-index: 100;
    pointer-events: none;
}

.outer-entrance-connection {
    border: 10px double #000;
    border-radius: 100%;
    z-index: 101;
    pointer-events: none;
}

.possible-start-location {
    border-style: none;
    background-image: url('/static/images/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.possible-start-location:before {
    content: '';
    border-style: none;
    background-image: url('/static/images/unmapped-entrance.svg');
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.start-location.difficulty-checked {
    border-style: none;
    background-image: url('/static/images/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.start-location:not(.difficulty-checked):before {
    content: '';
    background-image: url('/static/images/house.svg');
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
}

.dropdown-menu {
    padding: 0.5rem;
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    max-height: 80vh;
    overflow: auto;
}

.dropdown-item:focus {
    background-color: #444;
    color: var(--bs-tooltip-color);
    border-radius: 3px;
}

.dropdown-item {
    margin-right: 31px;
}

.tooltip-text-span {
    vertical-align: middle;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-grow: 1;
}

.great-fairy {
    width: 74px;
    margin: auto;
}

.item-container {
    display: flex;
    flex-flow: column;
}

.fill-box {
    flex: 1 1 auto;
}

.bottom-container {
    position: relative;
}

.note-editable {
    background: #fff;
    color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.tab:not(.active) {
    display: none;
}

.quicktab-button.active .quicktab-link {
    border-color: #fff;
    color: #fff;
    /* background-color: #6c757d; */
}

.quicktab-button:not(.active) .quicktab-link:hover {
    border-color: #ccc;
}

.quicktab-link {
    border-radius: 0px 0px 5px 5px;
}

.tab-button.active .tab-link {
    border-color: #fff;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
}

.tab-button:not(.active) .tab-link:hover {
    border-color: #ccc;
    border-radius: 5px 5px 0px 0px;
}

.quicktab-link {
    border-color: transparent;
    padding: 9px 16px 8px 16px;
    border-width: 0px 1px 1px 1px;
    color: #ccc;
}

.tab-link {
    border-color: transparent;
    padding: 9px 16px 8px 16px;
    border-width: 1px 1px 0px 1px;
    color: #ccc;
}

.autotracker-button {
    width: 100%;
}

.quicktab-button .quicksetting-icon {
    filter: invert(1);
}

.invert {
    filter: invert(1);
}

.check-item-image-wrapper {
    height: 24px;
    width: 24px;
}

.check-item-image {
    height: 24px;
    display: block;
    margin: auto;
}

.plando-item {
    display: flex;
}