.nowrap {
    white-space: nowrap;
}

.itemWrapper {
    position: relative;
    display: inline-block;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

.secondary {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.full {
    color: green;
}

.small {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}

.center {
    width: 50%;
    margin: 0 auto;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#items {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 270px;
}

#item-blank {
    width: 270px;
}

.hidden {
    display: none;
}

.offcanvas {
    --bs-offcanvas-width: fit-content;
}

.accordion-button {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:not(.collapsed) {
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.accordion-button:focus {
    border-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    box-shadow: 0px 0px;
}

.accordion-item {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.map {
    max-width: 100%;
}

.mapImage {
    max-width: 100%;
}

.map-container {
    display: inline-block;
    position: relative;
    pointer-events: auto;
}

.tooltip-body {
    display: inline-block;
    position: relative;
    pointer-events: auto;
}

.tooltip {
    opacity: 1 !important;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 0.3s;
}

.animate__animated.animate__bounceInDown {
    --animate-duration: 0.3s;
}

.itemImage:hover {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.secondary:hover + .itemImage {
    filter: drop-shadow(0px 0px 5px #ccc);
}

.tooltip-check-graphic {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.tooltip-area-card {
    background-color: var(--bs-tooltip-bg);
}

.tooltip-item {
    background-color: var(--bs-tooltip-bg);
    color: var(--bs-tooltip-color);
    padding: 1px;
    cursor: default;
}

.tooltip-area-header {
    background-color: #222;
    background-blend-mode: normal;
}

.tooltip-text {
    display: inline-block;
}

.text-check {
    cursor: default;
}

.tooltip-item:hover {
    background-color: #444;
    border-radius: 3px;
}

.text-check:hover {
    background-color: #444;
    border-radius: 3px;
}

.behind-keys:not(.difficulty-checked):before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 74%;
    height: 74%;
    margin-left: 13%;
    margin-top: 13%;
    background-image: url('/static/images/keyLocked.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.checkGraphic {
    position: absolute;
}

.checkGraphic:hover {
    filter: drop-shadow(0px 0px 5px #ccc) drop-shadow(0px 0px 5px #ccc);
}

.entrance-only {
    border-style: none;
    background-image: url('/static/images/entrance.svg');
    background-size: contain;
    z-index: 3;
}

.difficulty-checked {
    border-style: none;
    background-image: url('/static/images/checked.svg');
    background-size: contain;
    z-index: 1;
}

.difficulty-0 {
    border-style: none;
    background-image: url('/static/images/circle.svg');
    background-size: contain;
    z-index: 2;
}

.difficulty-1 {
    border-style: none;
    background-image: url('/static/images/square.svg');
    background-size: contain;
    z-index: 2;
}

.difficulty-2 {
    border-style: none;
    background-image: url('/static/images/triangle.svg');
    background-size: contain;
    z-index: 2;
}

.difficulty-3 {
    border-style: none;
    background-image: url('/static/images/diamond.svg');
    background-size: contain;
    z-index: 2;
}

.difficulty-4 {
    border-style: none;
    background-image: url('/static/images/diamond.svg');
    background-size: contain;
    z-index: 2;
}

.difficulty-9 {
    /* position: absolute; */
    border-style: none;
    background-image: url('/static/images/outoflogic.svg');
    background-size: contain;
    z-index: 0;
}

button.nav-link {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity));
}

button.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.nav-link.active {
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.container {
    max-width: 1500px;
}

.popover {
    max-width: 400px;
    --bs-popover-bg: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}

.popover-header {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.popover-body {
    background: var(--bs-dark-rgb);
    color: var(--bs-dark-rgb);
}

.tooltip {
    max-width: 500px;
    pointer-events: none;
}

.tooltip-inner {
    max-width: 500px;
}

.key-indicator-wrapper {
    float: left;
}

.key-indicator {
    height: 16px;
}

.check-name {
    float: left;
}

.left-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.right-click {
    background-image: url('/static/images/left-click.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: scaleX(-1);
}

#checkListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkLocationsListGroup {
    max-height: 800px;
    overflow: scroll;
}

#checkListCol {
    width: 300px;
}

.check-input {
    width: 100%;
}

.check-item {
    display: block;
}

.modal-content {
    color: #000;
}

.modal-body {
    display: inline-block;
}