<div class="row">
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT1", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK1", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY1", width="12px", max_image="1", overlay_count="KEY1", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY1", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP1", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS1", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT2", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK2", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY2", width="12px", max_image="1", overlay_count="KEY2", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY2", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP2", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS2", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT3", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK3", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY3", width="12px", max_image="1", overlay_count="KEY3", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY3", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP3", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS3", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT4", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK4", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY4", width="12px", max_image="1", overlay_count="KEY4", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY4", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP4", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS4", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT5", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK5", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY5", width="12px", max_image="1", overlay_count="KEY5", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY5", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP5", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS5", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT6", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK6", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY6", width="12px", max_image="1", overlay_count="KEY6", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY6", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP6", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS6", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT7", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK7", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY7", width="12px", max_image="1", overlay_count="KEY7", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY7", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP7", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS7", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
    <div class="col col-3 text-center px-0">
        {{ item("INSTRUMENT8", max="1", classes="") }}
        <div class="pt-2 dungeon-wrapper">
            {{ item("STONE_BEAK8", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY8", width="12px", max_image="1", overlay_count="KEY8", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY8", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP8", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS8", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col text-center px-0">
        {{ item("GREAT_FAIRY", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK9", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("KEY9", width="12px", max_image="1", overlay_count="KEY9", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("NIGHTMARE_KEY9", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("MAP9", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
            {{ item("COMPASS9", max="1", width="12px", classes="small", allItems=allItems, hideIfZero=True) }}
        </div>
    </div>
</div>