<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}" />

        <title>LADXR Tracker</title>
    </head>

    <body>
        <nav class="navbar bg-light">
            <div class="container">
                <a class="nav-link" href="/">LADXR Tracker</a>
                <div class="col text-end">
                    <button type="button" class="btn btn-secondary" onclick="resetInventory();refreshImages();refreshMap();" data-bs-toggle="tooltip" data-bs-title="Reset Inventory">
                        <img src="static/images/arrow-clockwise.svg">
                    </button>
                    <span data-bs-toggle="offcanvas" data-bs-target="#argsOffcanvas" aria-controls="argsOffcanvas">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="tooltip" data-bs-title="Change Flags">
                            <img src="static/images/gear.svg">
                        </a>
                    </span>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input hidden" type="checkbox" checked id="lightSwitch" />
        </div>

        {% include 'scripts.html' %}
    </body>
</html>