
{% from 'logicContents.html' import logicContents %}

<div class="d-flex flex-wrap">
    <div id="legend" class="flex-grow-1 d-flex flex-wrap justify-content-center">
        {% for i in range(logics | length - 1) %}
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic difficulty-{{i}} align-middle"></div>
            <div class="legend-text align-middle">: {{logics[i].name | title}}</div>
        </div>
        {% endfor %}
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic difficulty-0 vanilla align-middle"></div>: Vanilla
        </div>
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic difficulty-9 align-middle"></div>: Out of logic
        </div>
        <!-- <div class="col-auto px-2">
            <div class="tooltip-check-graphic difficulty-checked align-middle"></div>: Checked
        </div> -->
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic left-click align-middle"></div>: Toggle checks
        </div>
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic right-click align-middle"></div>: Pin tooltip
        </div>
        <div class="col-auto px-2">
            Ctrl+Z to undo
        </div>
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic middle-click align-middle"></div> or Ctrl+<div class="tooltip-check-graphic left-click align-middle"></div>: View Dungeon
        </div>
    </div>
    <div id="item-blank"></div>
</div>

<div id="mapAccordion" class="accordion">

{% set ns = namespace(expanded='true', show=' show', collapsed='') %}
{% for logic in checkAccessibility %}
    {% set safeLogic = logic.friendlyName | replace(' ', '-') %}
    {% if checkAccessibility[logic]|length == 0 %}{% set hidden=' hidden' %}{% else %}{% set hidden='' %}{% endif %}

    <div class="accordion-item {{hidden}}">
        <h2 id="heading-{{safeLogic}}" class="accordion-header">
            <button class="accordion-button{{ns.collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{safeLogic}}" aria-expanded="{{ns.expanded}}" aria-controls="collapse-{{safeLogic}}">
                <div class="tooltip-check-graphic difficulty-{{logic.difficulty}} align-middle"></div>
                <span class="ps-2">{{ logic.friendlyName }}</span>
            </button>
        </h2>

        <div id="collapse-{{safeLogic}}" class="accordion-collapse collapse{{ns.show}}" aria-labelledby="heading-{{safeLogic}}" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="{{logic.friendlyName}}" onclick="preventDoubleClick(event)">
                    {{ logicContents(checkAccessibility[logic], logic.friendlyName) }}
                </div>
            </div>
        </div>
    </div>

    {% set ns.expanded = 'false' %}
    {% set ns.show = '' %}
    {% set ns.collapsed = ' collapsed' %}
{% endfor %}

    <div class="accordion-item hidden">
        <h2 id="heading-Checked" class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-Checked" aria-expanded="false" aria-controls="collapse-Checked">
                <div class="tooltip-check-graphic difficulty-checked align-middle"></div>
                <span class="ps-2">Checked</span>
            </button>
        </h2>

        <div id="collapse-Checked" class="accordion-collapse collapse" aria-labelledby="heading-Checked" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="Checked" onclick="preventDoubleClick(event)">
                </div>
            </div>
        </div>
    </div>
</div>

<p>Total checks: {{ checkCount }}</p>

<script type="application/javascript">
    randomizedEntrances = JSON.parse('{{entrances|safe}}');
    startLocations = JSON.parse('{{startLocations|safe}}');
    entranceAccessibility = JSON.parse('{{entranceAccessibility|safe}}')

    var timeoutId;
    function resizeTimeout() {
        removeNodes();
        clearTimeout(timeoutId);
        skipNextAnimation = true;
        timeoutId = setTimeout(drawActiveTab, 100);
    }

    window.addEventListener("resize", resizeTimeout);

    var mapTooltipTriggerList = document.querySelectorAll('li.nav-item[data-bs-toggle="tooltip"]');
    var mapTooltipList = [...mapTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>