<div class="d-flex flex-wrap py-1">
    <div id="legend" class="flex-grow-1 d-flex flex-wrap justify-content-center">
        {% for i in range(5) %}
        <div id="legendDifficulty{{i}}" class="col-auto px-2 legend-difficulty hidden">
            <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-{{i}}"></use></svg><span id="legendDifficultyName{{i}}" class="p-0 m-0 logic-name">: {{i}}</span>
        </div>
        {% endfor %}
        <div class="col-auto px-2">
            <div class="behind-tracker static-difficulty-wrapper align-middle">
                <svg class="icon static-difficulty"><use xlink:href="#difficulty-0"></use></svg>
                <svg class="icon static-difficulty hollow"><use xlink:href="#difficulty-0-hollow"></use></svg>
                <div class="behind-tracker-overlay"></div>
            </div>: Tracker
            <img id="trackerLogicHelp" class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Probably accessible, but not technically in logic">
        </div>
        <div class="col-auto px-2">
            <div class="difficulty-0 static-difficulty-wrapper behind-keys align-middle">
                <svg class="icon static-difficulty"><use xlink:href="#difficulty-0"></use></svg>
                <svg class="icon static-difficulty hollow"><use xlink:href="#difficulty-0-hollow"></use></svg>
                <div class="behind-rupees-overlay"></div>
                <div class="behind-keys-overlay"></div>
            </div>: Needs keys
        </div>
        <div class="col-auto px-2">
            <div class="difficulty-0 static-difficulty-wrapper requires-rupees align-middle">
                <svg class="icon static-difficulty"><use xlink:href="#difficulty-0"></use></svg>
                <svg class="icon static-difficulty hollow"><use xlink:href="#difficulty-0-hollow"></use></svg>
                <div class="behind-rupees-overlay"></div>
                <div class="behind-keys-overlay"></div>
            </div>: Needs rupees
        </div>
        <div class="col-auto px-2">
            <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-0-vanilla"></use></svg>: Vanilla
        </div>
        <div class="col-auto px-2">
            <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-9"></use></svg>: Out of logic
        </div>
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic left-click align-middle"></div>: Toggle
        </div>
        <div class="col-auto px-2">
            <div class="tooltip-check-graphic right-click align-middle"></div>: Pin
        </div>
        <div class="col-auto px-2">
            Ctrl+Z: Undo
        </div>
        <div class="col-auto ps-2">
            <div class="tooltip-check-graphic middle-click align-middle"></div> or Ctrl+
        </div>
        <div class="col-auto pe-2">
            <div class="tooltip-check-graphic left-click align-middle"></div>: View Dungeon
        </div>
    </div>
    <div id="item-blank"></div>
</div>

<div id="mapAccordion" class="accordion">
    {% set ns = namespace(expanded='true', show=' show', collapsed='', hidden='', name='In logic') %}
    {% for i in range(5) %}
        <div id="difficulty{{i}}Accordion" data-difficulty="{{i}}" class="accordion-item{{ns.hidden}}">
            <h2 id="heading-{{i}}" class="accordion-header">
                <button class="accordion-button{{ns.collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{i}}" aria-expanded="{{ns.expanded}}" aria-controls="collapse-{{i}}">
                    <div class="tooltip-check-graphic difficulty-{{i}} align-middle">
                        <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-{{i}}"></use></svg>
                    </div>
                    <span id="difficulty{{i}}AccordionName" class="ps-2">{{ns.name}}</span>
                </button>
            </h2>
    
            <div id="collapse-{{i}}" class="accordion-collapse collapse{{ns.show}}" aria-labelledby="heading-{{i}}" data-bs-parent="#mapAccordion">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row grid" data-difficulty="{{i}}" data-masonry='{"percentPosition": true }' onclick="preventDoubleClick(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        {% set ns.expanded = 'false' %}
        {% set ns.show = '' %}
        {% set ns.collapsed = ' collapsed' %}
        {% set ns.hidden = ' hidden' %}
        {% set ns.name = '' %}
    {% endfor %}

        <div id="difficulty9Accordion" data-difficulty="9" class="accordion-item hidden">
            <h2 id="heading-9" class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
                    <div class="tooltip-check-graphic difficulty-9 align-middle">
                        <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-9"></use></svg>
                    </div>
                    <span id="difficulty9AccordionName" class="ps-2">Out of logic</span>
                </button>
            </h2>
    
            <div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="heading-9" data-bs-parent="#mapAccordion">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row grid" data-difficulty="9" data-masonry='{"percentPosition": true }' onclick="preventDoubleClick(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="difficultyCheckedAccordion" data-difficulty="checked" class="accordion-item hidden">
            <h2 id="heading-Checked" class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-Checked" aria-expanded="false" aria-controls="collapse-Checked">
                    <div class="tooltip-check-graphic difficulty-checked align-middle">
                        <svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-checked"></use></svg>
                    </div>
                    <span class="ps-2">Checked</span>
                </button>
            </h2>
    
            <div id="collapse-Checked" class="accordion-collapse collapse" aria-labelledby="heading-Checked" data-bs-parent="#mapAccordion">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row grid" data-difficulty="checked" data-masonry='{"percentPosition": true }' onclick="preventDoubleClick(event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<p id="checkCounter"></p>