<!-- D8, D1, D0/9 -->
<div class="row pt-3">
    <div class="col col-3"></div>

    <div class="col col-3 text-center">
        {{ item("INSTRUMENT8", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK8", max="1", width="12px", classes="small") }}
            {{ item("KEY8", width="12px", max_image="1", overlay_count="KEY8", classes="small") }}
            {{ item("NIGHTMARE_KEY8", max="1", width="12px", classes="small") }}
        </div>
    </div>

    <div class="col col-3 text-center">
        {{ item("INSTRUMENT1", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK1", max="1", width="12px", classes="small") }}
            {{ item("KEY1", width="12px", max_image="1", overlay_count="KEY1", classes="small") }}
            {{ item("NIGHTMARE_KEY1", max="1", width="12px", classes="small") }}
        </div>
    </div>

    <div class="col col-3 ps-4 pe-0 text-center">
        {{ item("GREAT_FAIRY", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK9", max="1", width="12px", classes="small") }}
            {{ item("KEY9", width="12px", max_image="1", overlay_count="KEY9", classes="small") }}
            {{ item("NIGHTMARE_KEY9", max="1", width="12px", classes="small") }}
        </div>
    </div>
</div>

<!-- D7, D2 -->
<div class="row pt-3">
    <div class="col col-1"></div>

    <div class="col col-3 ps-0 pe-4 text-center">
        {{ item("INSTRUMENT7", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK7", max="1", width="12px", classes="small") }}
            {{ item("KEY7", width="12px", max_image="1", overlay_count="KEY7", classes="small") }}
            {{ item("NIGHTMARE_KEY7", max="1", width="12px", classes="small") }}
        </div>
    </div>

    <div class="col col-4"></div>

    <div class="col col-3 ps-4 pe-0 text-center">
        {{ item("INSTRUMENT2", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK2", max="1", width="12px", classes="small") }}
            {{ item("KEY2", width="12px", max_image="1", overlay_count="KEY2", classes="small") }}
            {{ item("NIGHTMARE_KEY2", max="1", width="12px", classes="small") }}
        </div>
    </div>
</div>

<!-- D6, D3 -->
<div class="row pt-3">
    <div class="col col-1"></div>

    <div class="col col-3 ps-0 pe-4 text-center">
        {{ item("INSTRUMENT6", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK6", max="1", width="12px", classes="small") }}
            {{ item("KEY6", width="12px", max_image="1", overlay_count="KEY6", classes="small") }}
            {{ item("NIGHTMARE_KEY6", max="1", width="12px", classes="small") }}
        </div>
    </div>

    <div class="col col-4"></div>

    <div class="col col-3 ps-4 pe-0 text-center">
        {{ item("INSTRUMENT3", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK3", max="1", width="12px", classes="small") }}
            {{ item("KEY3", width="12px", max_image="1", overlay_count="KEY3", classes="small") }}
            {{ item("NIGHTMARE_KEY3", max="1", width="12px", classes="small") }}
        </div>
    </div>
</div>

<!-- D4, D5 -->
<div class="row pt-3">
    <div class="col col-3"></div>

    <div class="col col-3 text-center">
        {{ item("INSTRUMENT5", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK5", max="1", width="12px", classes="small") }}
            {{ item("KEY5", width="12px", max_image="1", overlay_count="KEY5", classes="small") }}
            {{ item("NIGHTMARE_KEY5", max="1", width="12px", classes="small") }}
        </div>
    </div>

    <div class="col col-3 text-center">
        {{ item("INSTRUMENT4", max="1", classes="") }}
        <div class="pt-2">
            {{ item("STONE_BEAK4", max="1", width="12px", classes="small") }}
            {{ item("KEY4", width="12px", max_image="1", overlay_count="KEY4", classes="small") }}
            {{ item("NIGHTMARE_KEY4", max="1", width="12px", classes="small") }}
        </div>
    </div>
</div>
