{% extends "base.html" %}

{% block content %}

<div>
    {% include 'navbar.html' %}
</div>


<div class="row">
    <div class="col">
        <a href="/event" class="btn btn-primary mt-4" role="button">New Event</a>
    </div>
{% if eventName and not codeFailed %}
    <div class="col-4">
        <h2>Viewing event '{{eventName}}'</h2>

    {% if players|length == 0 %}
        <h6>No player data found, refresh to check again</h6>
    {% endif %}
    </div>
{% else %}
        <div class="col-4">
            <label for="eventName" class="form-label">Event name</label>
            <input type="text" class="form-control" id="eventName" maxlength="80" oninput="eventNameInput()" value="{{eventName if eventName is not none else ''}}">

            <div id="eventAlert" class="alert alert-primary my-2 py-2 hidden" role="alert">Event does not exist yet</div>

            <label for="viewCode" class="form-label pt-2 hidden">View code</label>
            <input type="text" class="form-control hidden" id="viewCode" maxlength="80" oninput="viewCodeInput()" value="{{viewCode if viewCode is not none else ''}}">

            <label for="joinCode" class="form-label pt-2 hidden">Join code</label>
            <input type="text" class="form-control hidden" id="joinCode" maxlength="80" value="{{joinCode if joinCode is not none else ''}}">

            {% if codeFailed %}
            <div id="codeFailedAlert" class="alert alert-danger my-2 py-2" role="alert">Incorrect view code</div>
            {% endif %}

            <div class="row pt-4">
                <div class="col">
                    <button id="eventActionButton" type="button" class="btn btn-secondary big-button" disabled onclick="eventAction()">Create Event</button>
                </div>
            </div>
        </div>
{% endif %}
    <div class="col"></div>
</div>

<div id="unstackedContainer" class="row border-me">
    {% for player in players %}
    <div id="unstackedItems" data-player="{{player}}" class="col-xs col-md-auto mt-2 mx-4 item-width">
        <span>Player: {{player}}</span>
        <span class="state-timestamp"></span>

        <div>
            <input id="refreshPlayer{{player}}" data-player="{{player}}" type="checkbox" class="form-check-input" checked>
            <label for="refreshPlayer{{player}}" class="form-label">Live update</label>
        </div>

        <div class="items-slot item-border">
            <div id="itemContainer" class="pb-2"></div>
        </div>
    </div>
    {% endfor %}
</div>
<div id="stackedContainer" class="row hidden">
    {% for player in players %}
    <div id="stackedItems" data-player="{{player}}" class="col-auto mt-2 mx-4">
        <span>Player: {{player}}</span>
        <span class="state-timestamp"></span>
        <div class="row item-border">
            <div class="col-xs col-md-auto items-slot px-0">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="settingsContainer">
    {% include 'settings.html' %}
</div>

<div class="form-check form-switch">
    <input class="form-check-input hidden" type="checkbox" checked id="lightSwitch" />
</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="suggestionModalLabel">Make a suggestion or report a bug</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="suggestionEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="suggestionEmail" placeholder="Optional">
                </div>
                <div>
                    <div id="bodyTextArea" name="editordata"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendSuggestionButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendSuggestion()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="errorModalLabel">Error</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="errorModalMessage"></h5>
                <h6>Please report this error so it can be fixed!</h6>
                <div class="mb-3">
                    <label for="errorEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="errorEmail" placeholder="Optional">
                </div>

                <div>
                    <div id="errorTextArea" name="editordata"></div>
                </div>

                <p>Error details:</p>
                <pre id="errorModalPayload"></pre>
            </div>
            <div class="modal-footer">
                <button id="sendErrorButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendError()">Send Bug Report</button>
            </div>
        </div>
    </div>
</div>

<script src="static/js/report.js"></script>

{% include 'scripts.html' %}

<script type="application/javascript">
    "use strict"
    
    if (document.getElementById('eventName')) {
        eventNameInput();
    }
</script>

{% endblock %}