{% extends "base.html" %}

{% block content %}

{% include 'icons.html' %}

<div id="unstackedContainer" class="row">
    <div id="unstackedMap" class="col-xs-12 col-md map-slot map-chunk">
        <div id="mapContainer">
            {% include 'map.html' %}
        </div>
    </div>
    <div id="unstackedItems" class="col-xs col-md-auto quicksettings-container px-0 item-width item-chunk">
        <div class="navbar-slot">
            {% include 'navbar.html' %}
        </div>
        <div class="items-slot">
            <div id="itemContainer" class="pb-2"></div>
        </div>
        <div class="quicksettings-container quicksettings-slot full-height">
            {% include 'quicksettings.html' %}
        </div>
    </div>
</div>
<div id="stackedContainer" class="hidden">
    <div class="row">
        <div class="col navbar-slot">
        </div>
    </div>
    <div id="stackedMap" class="row map-chunk">
        <div class="col map-slot">
        </div>
    </div>
    <div id="stackedItems" class="row item-chunk">
        <div class="col"></div>
        <div class="col-xs col-md-auto items-slot">
        </div>
        <div class="col"></div>
        <div class="col-auto px-2_5 quicksettings-container quicksettings-slot">
        </div>
    </div>
</div>

<div class="row">
    <div id="checkList" class="col"></div>
</div>

<div id="settingsContainer">
    {% include 'settings.html' %}
</div>

<div class="row justify-content-end pt-4">
    <div class="col">
        <!-- {{hostname}} -->
    </div>
    <div class="col-auto">
        <div class="version">
            <span>Version: {{version}}</span>
        </div>
    </div>
    {% if local and version != remoteVersion and remoteVersion %}
    <div class="col-auto">
        <div class="version">
            <span>Latest version: {{remoteVersion}}</span>
            <a href="/fetchupdate" class="btn btn-secondary update-button ms-2" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Download update" role="button"><img src="static/images/file-arrow-down.svg"></a>
        </div>
    </div>
    {% endif %}
    <div class="col-auto">
        <button type="button" class="btn btn-secondary" onclick="hardReset();">Hard reset state and settings</button>
    </div>
</div>

<div class="form-check form-switch">
    <input class="form-check-input hidden" type="checkbox" checked id="lightSwitch" />
</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="suggestionModalLabel">Make a suggestion or report a bug</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="suggestionEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="suggestionEmail" placeholder="Optional">
                </div>
                <div>
                    <div id="bodyTextArea" name="editordata"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendSuggestionButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendSuggestion()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="errorModalLabel">Error</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="errorModalMessage"></h5>
                <h6>Please report this error so it can be fixed!</h6>
                <div class="mb-3">
                    <label for="errorEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="errorEmail" placeholder="Optional">
                </div>

                <div>
                    <div id="errorTextArea" name="editordata"></div>
                </div>

                <p>Error details:</p>
                <pre id="errorModalPayload"></pre>
            </div>
            <div class="modal-footer">
                <button id="sendErrorButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendError()">Send Bug Report</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    "use strict"

    function hardReset() {
        if (confirm("Completely clear all tracker data, including settings and trackable objects?")) {
            localStorage.clear();
            location.reload();
        }
    }

    function sendSuggestion() {
        $.ajax({
            type: "POST",
            url: "https://magpietracker.us/suggestion",
            data: {
                email: $('#suggestionEmail')[0].value,
                body: $('#bodyTextArea').summernote('code'),
                state: JSON.stringify(getState()),
            },
        });
    }

    function sendError() {
        let payload = JSON.parse($('#errorModalPayload').text());
        payload['userComments'] = $('#errorTextArea').summernote('code');

        $.ajax({
            type: "POST",
            url: "https://magpietracker.us/suggestion",
            data: {
                email: $('#errorEmail')[0].value,
                body: '<pre>' + JSON.stringify(payload, null, 3) + '</pre>',
                state: JSON.stringify(getState()),
            },
        });
    }

    function showErrorDialog(message, payload) {
        $('#errorModalMessage').text(message);
        $('#errorModalPayload').text(payload);
        new bootstrap.Modal('#errorModal', null).show();
    }
</script>

{% include 'scripts.html' %}

{% endblock %}