{% extends "base.html" %}

{% block content %}

{% include 'icons.html' %}

<div id="unstackedContainer" class="row" data-player="">
    <div id="unstackedMap" class="col-xs-12 col-md map-slot map-chunk">
        <div id="mapContainer">
            {% include 'map.html' %}
        </div>
    </div>
    <div id="unstackedItems" class="col-xs col-md-auto quicksettings-container px-0 item-width item-chunk">
        <div class="navbar-slot">
            {% include 'navbar.html' %}
        </div>
        <div class="items-slot">
            <div id="itemContainer" class="pb-2"></div>
        </div>
        <div class="quicksettings-container quicksettings-slot full-height">
            {% include 'quicksettings.html' %}
        </div>
    </div>
</div>
<div id="stackedContainer" class="hidden" data-player="">
    <div class="row">
        <div class="col navbar-slot">
        </div>
    </div>
    <div id="stackedMap" class="row map-chunk">
        <div class="col map-slot">
        </div>
    </div>
    <div id="stackedItems" class="row item-chunk">
        <div class="col"></div>
        <div class="col-xs col-md-auto items-slot">
        </div>
        <div class="col"></div>
        <div class="col-auto px-2_5 quicksettings-container quicksettings-slot">
        </div>
    </div>
</div>

<div class="row">
    <div id="checkList" class="col">
        {% include 'checklist.html' %}
    </div>
</div>

<div id="settingsContainer">
    {% include 'settings.html' %}
</div>

<div class="row justify-content-end pt-4">
    <div class="col">
        <!-- {{hostname}} -->
    </div>
    <div class="col-auto">
        <div class="version">
            <span>Version: {{version}}</span>
        </div>
    </div>
    {% if local and version != remoteVersion and remoteVersion %}
    <div class="col-auto">
        <div class="version">
            <span>Latest version: {{remoteVersion}}</span>
            <a href="/fetchupdate" class="btn btn-secondary update-button ms-2" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Download update" role="button"><img src="static/images/file-arrow-down.svg"></a>
        </div>
    </div>
    {% endif %}
    <div class="col-auto">
        <button type="button" class="btn btn-secondary" onclick="hardReset();">Hard reset state and settings</button>
    </div>
</div>

<div class="form-check form-switch">
    <input class="form-check-input hidden" type="checkbox" checked id="lightSwitch" />
</div>

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="shareModalLabel">Share Tracker State</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label for="playerName" class="form-label">Player name</label>
                        <input type="text" id="playerName" class="form-control" maxlength="80" oninput="updateShareUrls()" placeholder="Required" aria-label="Player Name">
                        <!-- <div id="playerLink" class="pt-1">
                            <span class="pe-2">Player link:</span><a id="playerUrl" href="/player">asdf</a>
                        </div> -->
                        <div id="playerIdWarning" class="alert alert-warning py-2 my-2 hidden" role="alert">Warning: A player with this name already exists. Consider using another name.</div>
                    </div>
                    <div class="pt-3">
                        <label for="eventName" class="form-label">Event name</label>
                        <input type="text" id="eventName" class="form-control" maxlength="80" oninput="updateShareUrls()" aria-label="Event name">

                        <div id="joinRequiredAlert" class="alert alert-primary py-2 my-2 hidden" role="alert">Event requires a join code</div>

                        <label for="joinCode" class="form-label pt-2 hidden">Join code</label>
                        <input type="text" id="joinCode" class="form-control hidden" maxlength="80" oninput="updateShareUrls()" aria-label="Join code">

                        <div id="joinCodeAlert" class="alert alert-danger py-2 my-2 hidden" role="alert">Incorrect join code</div>

                        <div id="eventLink" class="pt-1">
                            <span class="pe-2">Event link:</span><a id="eventUrl" href="/event">Event URL</a>
                        </div>

                        <div id="shareErrorAlert" class="alert alert-danger py-2 my-2 hidden" role="alert"></div>
                    </div>
                    <div class="pt-3">
                        <input id="liveUpdate" type="checkbox" class="form-check-input">
                        <label for="liveUpdate" class="form-label">Live update <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Inventory and check changes will be automatically shared for the rest of this session"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                {% if local %}
                <a href="https://magpietracker.us/event" class="mr-auto">Create a private event</a>
                {% else %}
                <a href="/event" class="mr-auto">Create a private event</a>
                {% endif %}

                <div>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="shareState()">Share</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="suggestionModalLabel">Make a suggestion or report a bug</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="suggestionEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="suggestionEmail" placeholder="Optional">
                </div>
                <div>
                    <div id="bodyTextArea" name="editordata"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendSuggestionButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendSuggestion()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="errorModalLabel">Error</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="errorModalMessage"></h5>
                <h6>Please report this error so it can be fixed!</h6>
                <div class="mb-3">
                    <label for="errorEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="errorEmail" placeholder="Optional">
                </div>

                <div>
                    <div id="errorTextArea" name="editordata"></div>
                </div>

                <p>Error details:</p>
                <pre id="errorModalPayload"></pre>
            </div>
            <div class="modal-footer">
                <button id="sendErrorButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendError()">Send Bug Report</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="archipelagoModal" tabindex="-1" aria-labelledby="archipelagoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="archipelagoModalLabel">Refresh from Archipelago</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="apHostname" class="form-label">Server</label>
                    <input type="text" class="form-control" id="apHostname" value="archipelago.gg:12345">
                </div>
                <div class="mb-3">
                    <label for="apSlotName" class="form-label">Slot name</label>
                    <input type="text" class="form-control" id="apSlotName">
                </div>
            </div>
            <div class="modal-footer">
                <button id="connectToApButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="refreshFromArchipelago(document.getElementById('apHostname').value, document.getElementById('apSlotName').value)">Connect</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="alertModalLabel"></h6>
                <button id="alertModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="alertBody"></span>
            </div>
            <div class="modal-footer">
                <button id="alertCloseButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="static/js/report.js"></script>
<script type="application/javascript">
    "use strict"

    function hardReset() {
        if (confirm("Completely clear all tracker data, including settings and trackable objects?")) {
            localStorage.clear();
            location.reload();
        }
    }
</script>

{% include 'scripts.html' %}

{% endblock %}