{% from 'item.html' import item %}

{% set knownItems = [
'SWORD', 'FEATHER', 'HOOKSHOT', 'BOW', 'BOMB', 'MAGIC_POWDER', 'MAGIC_ROD', 'OCARINA', 'PEGASUS_BOOTS', 'POWER_BRACELET', 'BOOMERANG',
'SHIELD', 'SHOVEL', 'TOADSTOOL', 'TAIL_KEY', 'SLIME_KEY', 'ANGLER_KEY', 'FACE_KEY', 'BIRD_KEY', 'FLIPPERS', 'BOWWOW', 
'SONG1', 'SONG2', 'SONG3', 'BLUE_TUNIC', 'RED_TUNIC', 'MAX_ARROWS_UPGRADE', 'MAX_BOMBS_UPGRADE', 'MAX_POWDER_UPGRADE', 'SEASHELL',
'HEART_CONTAINER', 'HEART_PIECE', 'RUPEES_100', 'RUPEES_20', 'RUPEES_200', 'RUPEES_50', 'RUPEES_500', 'MEDICINE', 'GEL', 'MESSAGE', 'GOLD_LEAF',
'MEDICINE2', 'CASTLE_BUTTON', 'SINGLE_ARROW', 'ARROWS_10', 'ANGLER_KEYHOLE', 'RAFT', 'ROOSTER',
'MAP1', 'MAP2', 'MAP3', 'MAP4', 'MAP5', 'MAP6', 'MAP7', 'MAP8', 'MAP0',  
'COMPASS1', 'COMPASS2', 'COMPASS3', 'COMPASS4', 'COMPASS5', 'COMPASS6', 'COMPASS7', 'COMPASS8', 'COMPASS0',
'KEY1', 'KEY2', 'KEY3', 'KEY4', 'KEY5', 'KEY6', 'KEY7', 'KEY8', 'KEY0',
'ITEM1', 'ITEM2', 'ITEM3', 'ITEM4', 'ITEM5', 'ITEM6', 'ITEM7', 'ITEM8', 'ITEM0',
'REQ1', 'REQ2', 'REQ3', 'REQ4', 'REQ5', 'REQ6', 'REQ7', 'REQ8', 'REQ0',
'NIGHTMARE_KEY1', 'NIGHTMARE_KEY2', 'NIGHTMARE_KEY3', 'NIGHTMARE_KEY4', 'NIGHTMARE_KEY5', 'NIGHTMARE_KEY6', 'NIGHTMARE_KEY7', 'NIGHTMARE_KEY8', 'NIGHTMARE_KEY0', 
'STONE_BEAK1', 'STONE_BEAK2', 'STONE_BEAK3', 'STONE_BEAK4', 'STONE_BEAK5', 'STONE_BEAK6', 'STONE_BEAK7', 'STONE_BEAK8', 'STONE_BEAK0', 
'INSTRUMENT1', 'INSTRUMENT2', 'INSTRUMENT3', 'INSTRUMENT4', 'INSTRUMENT5', 'INSTRUMENT6', 'INSTRUMENT7', 'INSTRUMENT8', 'INSTRUMENT0', 
'TRADING_ITEM_YOSHI_DOLL','TRADING_ITEM_RIBBON', 'TRADING_ITEM_DOG_FOOD', 'TRADING_ITEM_BANANAS', 'TRADING_ITEM_STICK', 'TRADING_ITEM_HONEYCOMB', 'TRADING_ITEM_PINEAPPLE',
'TRADING_ITEM_HIBISCUS', 'TRADING_ITEM_LETTER', 'TRADING_ITEM_BROOM', 'TRADING_ITEM_FISHING_HOOK', 'TRADING_ITEM_NECKLACE', 'TRADING_ITEM_SCALE', 'TRADING_ITEM_MAGNIFYING_GLASS', 
'TRADING_ITEM_YOSHI_DOLL_CHECKED','TRADING_ITEM_RIBBON_CHECKED', 'TRADING_ITEM_DOG_FOOD_CHECKED', 'TRADING_ITEM_BANANAS_CHECKED', 'TRADING_ITEM_STICK_CHECKED',
'TRADING_ITEM_HONEYCOMB_CHECKED', 'TRADING_ITEM_PINEAPPLE_CHECKED', 'TRADING_ITEM_HIBISCUS_CHECKED', 'TRADING_ITEM_LETTER_CHECKED', 'TRADING_ITEM_BROOM_CHECKED',
'TRADING_ITEM_FISHING_HOOK_CHECKED', 'TRADING_ITEM_NECKLACE_CHECKED', 'TRADING_ITEM_SCALE_CHECKED', 'TRADING_ITEM_MAGNIFYING_GLASS_CHECKED', 'TOADSTOOL_CHECKED', 
'HAMMER', 'id',
] %}

<div class="d-flex justify-content-center">
    <div id="items" class="row">
        <div class="col-auto align-self-center">
            {% if localSettings.itemsTemplate == "custom" %}
                {% include customItems %}
            {% else %}
                {% include "mainitems/" + localSettings.itemsTemplate %}
            {% endif %}
        </div>

        <div class="col-auto align-self-center">
            {% if localSettings.dungeonItemsTemplate == "custom" %}
                {% include customDungeonItems %}
            {% else %}
                {% include "dungeonitems/" + localSettings.dungeonItemsTemplate %}
            {% endif %}
        </div>

        <div class="col-auto">
            <!-- Unknown items -->
            {% set unknownItems = allItems.keys() | reject("in", knownItems) | list %}

            {% if unknownItems | length > 0 %}
            <div class="row pt-2">
                <h5>Other items:</h5>
                {% for item in unknownItems %}
                    {% set max = allItems[item] %}
                    <div class="col nowrap">
                        <label for="{{item}}">{{item}}:</label>
                        {% if max == 1 %}
                            <input type="checkbox" id="{{item}}" name="{{item}}" data-item="{{item}}" onchange="itemValueUpdated(this)">
                        {% else %}
                            <input type="number" id="{{item}}" name="{{item}}" data-item="{{item}}" min="0" max="{{max}}" value="0" onchange="itemValueUpdated(this)">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="application/javascript">
    "use strict"

    updateMaxInventory({{ allItems|safe }});
</script>