{% set knownItems = [
'SWORD', 'FEATHER', 'HOOKSHOT', 'BOW', 'BOMB', 'MAGIC_POWDER', 'MAGIC_ROD', 'OCARINA', 'PEGASUS_BOOTS', 'POWER_BRACELET', 'BOOMERANG',
'SHIELD', 'SHOVEL', 'TOADSTOOL', 'TAIL_KEY', 'SLIME_KEY', 'ANGLER_KEY', 'FACE_KEY', 'BIRD_KEY', 'GOLD_LEAF', 'FLIPPERS', 'BOWWOW', 
'SONG1', 'SONG2', 'SONG3', 'BLUE_TUNIC', 'RED_TUNIC', 'MAX_ARROWS_UPGRADE', 'MAX_BOMBS_UPGRADE', 'MAX_POWDER_UPGRADE', 'SEASHELL',
'HEART_CONTAINER', 'HEART_PIECE', 'RUPEES_100', 'RUPEES_20', 'RUPEES_200', 'RUPEES_50', 'MEDICINE', 'GEL', 'MESSAGE', 
'MEDICINE2', 'RAFT', 'ANGLER_KEYHOLE', 'SINGLE_ARROW', 'ARROWS_10',
'COMPASS1', 'COMPASS2', 'COMPASS3', 'COMPASS4', 'COMPASS5', 'COMPASS6', 'COMPASS7', 'COMPASS8', 'COMPASS9',
'KEY1', 'KEY2', 'KEY3', 'KEY4', 'KEY5', 'KEY6', 'KEY7', 'KEY8', 'KEY9',
'MAP1', 'MAP2', 'MAP3', 'MAP4', 'MAP5', 'MAP6', 'MAP7', 'MAP8', 'MAP9', 
'NIGHTMARE_KEY1', 'NIGHTMARE_KEY2', 'NIGHTMARE_KEY3', 'NIGHTMARE_KEY4', 'NIGHTMARE_KEY5', 'NIGHTMARE_KEY6', 'NIGHTMARE_KEY7', 'NIGHTMARE_KEY8', 'NIGHTMARE_KEY9', 
'STONE_BEAK1', 'STONE_BEAK2', 'STONE_BEAK3', 'STONE_BEAK4', 'STONE_BEAK5', 'STONE_BEAK6', 'STONE_BEAK7', 'STONE_BEAK8', 'STONE_BEAK9', 
'INSTRUMENT1', 'INSTRUMENT2', 'INSTRUMENT3', 'INSTRUMENT4', 'INSTRUMENT5', 'INSTRUMENT6', 'INSTRUMENT7', 'INSTRUMENT8', 'INSTRUMENT9', 
'TRADING_ITEM_YOSHI_DOLL', 'TRADING_ITEM_RIBBON', 'TRADING_ITEM_DOG_FOOD', 'TRADING_ITEM_BANANAS', 'TRADING_ITEM_STICK', 'TRADING_ITEM_HONEYCOMB', 
'TRADING_ITEM_PINEAPPLE', 'TRADING_ITEM_HIBISCUS', 'TRADING_ITEM_LETTER', 'TRADING_ITEM_BROOM', 'TRADING_ITEM_FISHING_HOOK', 
'TRADING_ITEM_NECKLACE', 'TRADING_ITEM_SCALE', 'TRADING_ITEM_MAGNIFIYING_GLASS', 
] %}

todo: decide how to deal with items that aren't in the current settings

<div id="items" style="width: 480px;">
    <!-- Main items -->
    <div class="row">
        {% with primary="SHIELD", max="2" %} {% include "item.html" %} {% endwith %}
        {% with primary="SWORD", max="2" %} {% include "item.html" %} {% endwith %}
        {% with primary="TOADSTOOL" %} {% include "item.html" %} {% endwith %}
        {% with primary="MAGIC_POWDER", max="1", secondary="MAX_POWDER_UPGRADE" %} {% include "item.html" %} {% endwith %}
        {% with primary="SHOVEL", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="BOMB", max="1", secondary="MAX_BOMBS_UPGRADE" %} {% include "item.html" %} {% endwith %}
        {% with primary="BOW", max="1", secondary="MAX_ARROWS_UPGRADE" %} {% include "item.html" %} {% endwith %}
        {% with primary="FEATHER", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="POWER_BRACELET", max="2" %} {% include "item.html" %} {% endwith %}
        {% with primary="PEGASUS_BOOTS", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="FLIPPERS", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="HOOKSHOT", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="MAGIC_ROD", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="BLUE_TUNIC", secondary="RED_TUNIC", src="tunicSrc()", default_src="static/images/GREEN_TUNIC.png" %} {% include "item.html" %} {% endwith %}
        {% with primary="OCARINA", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="SONG1", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="SONG2", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="SONG3", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="BOWWOW", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="BOOMERANG", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="SEASHELL", max_image="1", overlay_count="SEASHELL" %} {% include "item.html" %} {% endwith %}
        {% with primary="TAIL_KEY", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="ANGLER_KEY", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="FACE_KEY", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="BIRD_KEY", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="SLIME_KEY", max="1" %} {% include "item.html" %} {% endwith %}
        {% with primary="GOLD_LEAF" %} {% include "item.html" %} {% endwith %}
    </div>

    <!-- D8, D1, D0/9 -->
    <div class="row pt-3">
        <div class="col col-4"></div>
        <div class="col col-2 text-center">
            {% with primary="INSTRUMENT8", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK8", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY8", width="12px", max_image="1", overlay_count="KEY8", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY8", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
        <div class="col col-2 text-center">
            {% with primary="INSTRUMENT1", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK1", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY1", width="12px", max_image="1", overlay_count="KEY1", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY1", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
        <div class="col col-2"></div>
        <div class="col col-2 text-center">
            {% with primary="GREAT_FAIRY", max="1", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK9", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY9", width="12px", max_image="1", overlay_count="KEY9", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY9", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
    </div>

    <!-- D7, D2 -->
    <div class="row pt-3">
        <div class="col col-2"></div>
        <div class="col col-3 text-center">
            {% with primary="INSTRUMENT7", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK7", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY7", width="12px", max_image="1", overlay_count="KEY7", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY7", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
        <div class="col col-2"></div>
        <div class="col col-3 text-center">
            {% with primary="INSTRUMENT2", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK2", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY2", width="12px", max_image="1", overlay_count="KEY2", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY2", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
    </div>

    <!-- D6, D3 -->
    <div class="row pt-3">
        <div class="col col-2"></div>
        <div class="col col-3 text-center">
            {% with primary="INSTRUMENT6", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK6", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY6", width="12px", max_image="1", overlay_count="KEY6", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY6", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
        <div class="col col-2"></div>
        <div class="col col-3 text-center">
            {% with primary="INSTRUMENT3", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK3", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY3", width="12px", max_image="1", overlay_count="KEY3", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY3", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
    </div>

    <!-- D4, D5 -->
    <div class="row pt-3">
        <div class="col col-4"></div>
        <div class="col col-2 text-center">
            {% with primary="INSTRUMENT5", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK5", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY5", width="12px", max_image="1", overlay_count="KEY5", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY5", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
        <div class="col col-2 text-center">
            {% with primary="INSTRUMENT4", classes="" %} {% include "item.html" %} {% endwith %}
            <div class="pt-2">
                {% with primary="STONE_BEAK4", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="KEY4", width="12px", max_image="1", overlay_count="KEY4", classes="small" %} {% include "item.html" %} {% endwith %}
                {% with primary="NIGHTMARE_KEY4", width="12px", classes="small" %} {% include "item.html" %} {% endwith %}
            </div>
        </div>
    </div>

    <!-- Unknown items -->
    <div class="row">
        {% for item, max in allItems.items() %}
            {% if item not in knownItems %}
                <div class="col nowrap">
                    <label for="{{item}}">{{item}}:</label>
                    {% if max == 1 %}
                        <input type="checkbox" id="{{item}}" name="{{item}}">
                    {% else %}
                        <input type="number" id="{{item}}" name="{{item}}" min="0" max="{{max}}" value="0">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/items.js') }}"></script>
<script type="application/javascript">
    maxInventory = {{ allItems|safe }};

    function tunicSrc()
    {
        blue = inventory['BLUE_TUNIC'] > 0;
        red = inventory['RED_TUNIC'] > 0;

        if (!blue && !red)
        {
            return 'static/images/GREEN_TUNIC.png';
        }
        if (blue && !red)
        {
            return 'static/images/BLUE_TUNIC.png';
        }
        if (!blue && red)
        {
            return 'static/images/RED_TUNIC.png';
        }
        
        return 'static/images/BLUERED_TUNIC.png';
    }

    initKnownItems();
</script>