{% macro logicContents(checks, logic) %}

    {% set ns = namespace(area = '') %}
    {% for check in checks %}
        {% if check.area != ns.area %}
            {% if ns.area != '' %}</ul></div></div></div>{% endif %}
            <div class="text-check-card-wrapper col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12 px-1 py-1" data-area="{{check.area}}">
                <div class="card text-bg-dark text-check-card" onclick="preventDoubleClick(event)">
                    <div class="card-header">
                        {{check.area}}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush px-2">
        {% endif %}

        {% set vanilla = '' %}
        {% if check.vanilla %}
            {% set vanilla = " data-vanilla=true" %}
        {% endif %}

        <div class="row check-wrapper" data-child-check-id="{{check.id}}">
            <div class="text-check-col col pe-0">
                <li class="text-check" data-checkname="{{check.name}}" data-checkarea="{{check.area}}" data-behind_keys="{{check.behindKeys}}" data-logic="{{logic}}" data-check-id="{{check.id}}" data-difficulty="{{check.difficulty}}"{{vanilla}} onclick="toggleCheck(event, '{{check.id}}')">
                    <div id="text-item-{{check.id}}" class="col-auto px-0 text-item-wrapper">
                    </div>
                    <div class="check-name">
                    {% if check.behindKeys %}
                        <div class="key-indicator-wrapper pe-2">
                            <img class="key-indicator" src="static/images/keyLocked.png">
                        </div>
                    {% endif %}
                        {{check.name}}
                    </div>
                </li>
            </div>
            <div class="col-auto ps-2 pe-0">
                <div class="btn-group dropend">
                    <button type="button" class="btn hidden"></button>
                    <button type="button" class="btn tooltip-item dropdown-toggle dropdown-toggle-split ps-4 pe-2 text-end" data-check-id="{{check.id}}" onmousedown="populateCheckOptions(this)" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul id="text-{{check.id}}" class="dropdown-menu text-dropdown"></ul>
                </div>
            </div>
        </div>

        {% set ns.area = check.area %}
    {% endfor %}
    {% if checks|length > 0 %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}