{% macro logicContents(checks, logic) %}

    {% set ns = namespace(area = '') %}
    {% for check in checks %}
        {% if check.area != ns.area %}
            {% if ns.area != '' %}</ul></div></div></div>{% endif %}
            <div class="col-auto px-1 py-1" data-area="{{check.area}}">
                <div class="card text-bg-dark" onclick="preventDoubleClick(event)">
                    <div class="card-header">
                        {{check.area}}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush px-2">
        {% endif %}

        <li data-checkname="{{check.name}}" data-checkarea="{{check.area}}" data-behind_keys="{{check.behindKeys}}" data-logic="{{logic}}" data-id="{{check.id}}" data-difficulty="{{check.difficulty}}" onclick="toggleCheck(event, $(this))">
            {% if check.behindKeys %}
            <div class="key-indicator-wrapper pe-2">
                <img class="key-indicator" src="static/images/keyLocked.png">
            </div>
            {% endif %}

            <div class="check-name">
                {{check.name}}
            </div>
        </li>

        {% set ns.area = check.area %}
    {% endfor %}
    {% if checks|length > 0 %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}