{% from 'logicContents.html' import logicContents %}

<ul class="nav nav-tabs" id="mapTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="overworldTab" data-bs-toggle="tab" data-bs-target="#overworldTabContent" type="button" role="tab" aria-controls="overworldTabContent" aria-selected="true" onclick="drawTab(this)">Overworld</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Tail Cave" data-bs-trigger="hover">
        <button class="nav-link" id="d1Tab" data-bs-toggle="tab" data-bs-target="#d1TabContent" type="button" role="tab" aria-controls="d1TabContent" aria-selected="true" onclick="drawTab(this)">D1</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Bottle Grotto" data-bs-trigger="hover">
        <button class="nav-link" id="d2Tab" data-bs-toggle="tab" data-bs-target="#d2TabContent" type="button" role="tab" aria-controls="d2TabContent" aria-selected="true" onclick="drawTab(this)">D2</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Key Cavern" data-bs-trigger="hover">
        <button class="nav-link" id="d3Tab" data-bs-toggle="tab" data-bs-target="#d3TabContent" type="button" role="tab" aria-controls="d3TabContent" aria-selected="true" onclick="drawTab(this)">D3</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Angler's Tunnel" data-bs-trigger="hover">
        <button class="nav-link" id="d4Tab" data-bs-toggle="tab" data-bs-target="#d4TabContent" type="button" role="tab" aria-controls="d4TabContent" aria-selected="true" onclick="drawTab(this)">D4</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Catfish's Maw" data-bs-trigger="hover">
        <button class="nav-link" id="d5Tab" data-bs-toggle="tab" data-bs-target="#d5TabContent" type="button" role="tab" aria-controls="d5TabContent" aria-selected="true" onclick="drawTab(this)">D5</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Face Shrine" data-bs-trigger="hover">
        <button class="nav-link" id="d6Tab" data-bs-toggle="tab" data-bs-target="#d6TabContent" type="button" role="tab" aria-controls="d6TabContent" aria-selected="true" onclick="drawTab(this)">D6</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Eagle's Tower" data-bs-trigger="hover">
        <button class="nav-link" id="d7Tab" data-bs-toggle="tab" data-bs-target="#d7TabContent" type="button" role="tab" aria-controls="d7TabContent" aria-selected="true" onclick="drawTab(this)">D7</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Turtle Rock" data-bs-trigger="hover">
        <button class="nav-link" id="d8Tab" data-bs-toggle="tab" data-bs-target="#d8TabContent" type="button" role="tab" aria-controls="d8TabContent" aria-selected="true" onclick="drawTab(this)">D8</button>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-title="Color Dungeon" data-bs-trigger="hover">
        <button class="nav-link" id="d0Tab" data-bs-toggle="tab" data-bs-target="#d0TabContent" type="button" role="tab" aria-controls="d0TabContent" aria-selected="true" onclick="drawTab(this)">D0</button>
    </li>
</ul>

<div class="tab-content" id="tabContents">
    <div class="tab-pane map-container text-center" id="overworldTabContent" role="tabpanel" aria-labelledby="overworldTab">
        <div class="map-wrapper">
            <img class="map" data-mapname="overworld" src="static/images/overworld.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d1TabContent" role="tabpanel" aria-labelledby="d1Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Tail Cave" src="static/images/d1.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d2TabContent" role="tabpanel" aria-labelledby="d2Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Bottle Grotto" src="static/images/d2.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d3TabContent" role="tabpanel" aria-labelledby="d3Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Key Cavern" src="static/images/d3.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d4TabContent" role="tabpanel" aria-labelledby="d4Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Angler's Tunnel" src="static/images/d4.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d5TabContent" role="tabpanel" aria-labelledby="d5Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Catfish's Maw" src="static/images/d5.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d6TabContent" role="tabpanel" aria-labelledby="d6Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Face Shrine" src="static/images/d6.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d7TabContent" role="tabpanel" aria-labelledby="d7Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Eagle's Tower" src="static/images/d7.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d8TabContent" role="tabpanel" aria-labelledby="d8Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Turtle Rock" src="static/images/d8.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
    <div class="tab-pane map-container text-center" id="d0TabContent" role="tabpanel" aria-labelledby="d0Tab">
        <div class="map-wrapper">
            <img class="map" data-mapname="Color Dungeon" src="static/images/d0.png" onclick="closeAllCheckTooltips();">
        </div>
    </div>
</div>

<div id="mapAccordion" class="accordion">

{% set ns = namespace(expanded='true', show=' show', collapsed='') %}
{% for logic in accessibility %}
    {% set safeLogic = logic | replace(' ', '-') %}
    {% if accessibility[logic]|length == 0 %}{% set hidden=' hidden' %}{% else %}{% set hidden='' %}{% endif %}

    <div class="accordion-item {{hidden}}">
        <h2 id="heading-{{safeLogic}}" class="accordion-header">
            <button class="accordion-button{{ns.collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{safeLogic}}" aria-expanded="{{ns.expanded}}" aria-controls="collapse-{{safeLogic}}">
                {{logic}}
            </button>
        </h2>

        <div id="collapse-{{safeLogic}}" class="accordion-collapse collapse{{ns.show}}" aria-labelledby="heading-{{safeLogic}}" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="{{logic}}" onclick="preventDoubleClick(event)">
                    {{ logicContents(accessibility[logic], logic) }}
                </div>
            </div>
        </div>
    </div>

    {% set ns.expanded = 'false' %}
    {% set ns.show = '' %}
    {% set ns.collapsed = ' collapsed' %}
{% endfor %}

    <div class="accordion-item hidden">
        <h2 id="heading-Checked" class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-Checked" aria-expanded="false" aria-controls="collapse-Checked">
                Checked
            </button>
        </h2>

        <div id="collapse-Checked" class="accordion-collapse collapse" aria-labelledby="heading-Checked" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="Checked" onclick="preventDoubleClick(event)">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    var timeoutId;
    function resizeTimeout() {
        clearCheckImages();
        clearTimeout(timeoutId);
        timeoutId = setTimeout(drawActiveTab, 100);
    }

    window.addEventListener("resize", resizeTimeout);

    var mapTooltipTriggerList = document.querySelectorAll('li.nav-item[data-bs-toggle="tooltip"]');
    var mapTooltipList = [...mapTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>