<h5>Unknown checks:</h5>
<div id="mapAccordion" class="accordion">

{% set ns = namespace(expanded='true', show=' show', collapsed='') %}
{% for logic in accessibility if accessibility[logic]|length > 0 %}
    {% set safeLogic = logic | replace(' ', '-') %}
    <div class="accordion-item">
        <h2 id="heading-{{safeLogic}}" class="accordion-header">
            <button class="accordion-button{{ns.collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{safeLogic}}" aria-expanded="{{ns.expanded}}" aria-controls="collapse-{{safeLogic}}">
                {{logic}}
            </button>
        </h2>

        <div id="collapse-{{safeLogic}}" class="accordion-collapse collapse{{ns.show}}" aria-labelledby="heading-{{safeLogic}}" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row">
                    {% set ns.area = '' %}
                    {% for check in accessibility[logic] %}
                        {% if check.area != ns.area %}
                            {% if ns.area != '' %}</ul></div></div></div>{% endif %}
                            <div class="col-auto">
                                <div class="card text-bg-dark">
                                    <div class="card-header">
                                        {{check.area}}
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                        {% endif %}
                        <li class="">{{check.name}}</li>

                        {% set ns.area = check.area %}
                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set ns.expanded = 'false' %}
    {% set ns.show = '' %}
    {% set ns.collapsed = ' collapsed' %}
{% endfor %}

</div>