{% from 'logicContents.html' import logicContents %}

<h5>Other checks:</h5>
<div id="mapAccordion" class="accordion">

{% set ns = namespace(expanded='true', show=' show', collapsed='') %}
{% for logic in accessibility %}
    {% set safeLogic = logic | replace(' ', '-') %}
    {% if accessibility[logic]|length == 0 %}{% set hidden=' hidden' %}{% else %}{% set hidden='' %}{% endif %}

    <div class="accordion-item {{hidden}}">
        <h2 id="heading-{{safeLogic}}" class="accordion-header">
            <button class="accordion-button{{ns.collapsed}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{safeLogic}}" aria-expanded="{{ns.expanded}}" aria-controls="collapse-{{safeLogic}}">
                {{logic}}
            </button>
        </h2>

        <div id="collapse-{{safeLogic}}" class="accordion-collapse collapse{{ns.show}}" aria-labelledby="heading-{{safeLogic}}" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="{{logic}}" onclick="preventDoubleClick(event)">
                    {{ logicContents(accessibility[logic], logic) }}
                </div>
            </div>
        </div>
    </div>

    {% set ns.expanded = 'false' %}
    {% set ns.show = '' %}
    {% set ns.collapsed = ' collapsed' %}
{% endfor %}

    <div class="accordion-item hidden">
        <h2 id="heading-Checked" class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-Checked" aria-expanded="false" aria-controls="collapse-Checked">
                Checked
            </button>
        </h2>

        <div id="collapse-Checked" class="accordion-collapse collapse" aria-labelledby="heading-Checked" data-bs-parent="#mapAccordion">
            <div class="accordion-body">
                <div class="row" data-logic="Checked" onclick="preventDoubleClick(event)">
                </div>
            </div>
        </div>
    </div>
</div>