{% extends "base.html" %}

{% block content %}

{% include 'icons.html' %}

<div id="unstackedContainer" class="row ps-0 pe-4 pt-0" data-player="">
    <div id="unstackedMap" class="col-xs-12 col-md px-0 pt-0 pb-4 map-slot map-chunk">
        <div id="mapContainer">
            {% include 'map.html' %}
        </div>
    </div>
    <div class="quicksettings-container quicksettings-slot full-height">
        {% include 'quicksettings.html' %}
    </div>
</div>
<div id="stackedContainer" class="ps-0 pe-2 pt-0 hidden" data-player="">
    <div id="stackedMap" class="row map-chunk">
        <div class="col px-0 pt-0 pb-4 map-slot">
        </div>
    </div>
    <div class="col-auto px-2_5 quicksettings-container quicksettings-slot">
    </div>
</div>

<div>
    {% include 'navbar.html' %}
</div>

<div id="settingsContainer">
    {% include 'settings.html' %}
</div>

<div class="form-check form-switch">
    <input class="form-check-input hidden" type="checkbox" checked id="lightSwitch" />
</div>

<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="suggestionModalLabel">Make a suggestion or report a bug</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="suggestionEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="suggestionEmail" placeholder="Optional">
                </div>
                <div>
                    <div id="bodyTextArea" name="editordata"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="sendSuggestionButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendSuggestion()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="errorModalLabel">Error</h6>
                <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="errorModalMessage"></h5>
                <h6>Please report this error so it can be fixed!</h6>
                <div class="mb-3">
                    <label for="errorEmail" class="form-label">Email address (optional)</label>
                    <input type="email" class="form-control" id="errorEmail" placeholder="Optional">
                </div>

                <div>
                    <div id="errorTextArea" name="editordata"></div>
                </div>

                <p>Error details:</p>
                <pre id="errorModalPayload"></pre>
            </div>
            <div class="modal-footer">
                <button id="sendErrorButton" type="button" class="btn btn-primary big-button" data-bs-dismiss="modal" onclick="sendError()">Send Bug Report</button>
            </div>
        </div>
    </div>
</div>

<script src="static/js/report.js"></script>

{% include 'scripts.html' %}

{% endblock %}