{% set aboutContents = "<p>Source and readme on <a href='https://github.com/kbranch/Magpie'>GitHub</a> - <a href='https://github.com/kbranch/Magpie/issues/new/choose'>report a bug</a></p>
<p>Special thanks to:</p>
<ul>
    <li><a href='https://twitter.com/muffinjets_'>MuffinJets</a> for his <a href='https://github.com/muffinjets/ladx_maptracker_muffinjets_wolfman2000'>EmoTracker pack</a>, which this is essentially a port of, and for help with the design</li>
    <li><a href='https://github.com/daid'>Daid</a> for creating <a href='https://daid.github.io/LADXR/'>LADXR</a> and keeping it open</li>
    <li><a href='http://artemis251.fobby.net/zelda/index.php'>Artemis251</a> for the great map resources and screenshots</li>
</ul>
<p>Visit us on <a href='https://discord.gg/QhAKagk84e'>Discord</a>!</p>" %}

<nav id="navbar" class="navbar px-2_5">
    <div class="container px-0">
        <a class="nav-link pe-2" href="/">Magpie</a>
        <button type="button" class="btn btn-secondary" data-bs-toggle="popover" data-bs-title="About Magpie" data-bs-content="{{aboutContents}}" data-bs-html="true">
            <img class="button-icon" src="static/images/question-circle.svg">
        </button>
        <button class="btn btn-secondary ms-1" alt="Make a suggestion or report a bug" data-bs-toggle="modal" data-bs-target="#suggestionModal" type="button">
            <img class="button-icon" src="static/images/bug.svg">
        </button>
        <div class="col text-end">
            <button type="button" class="btn btn-secondary" onclick="resetSession()" data-bs-toggle="tooltip" data-bs-title="Reset Checks and Inventory" data-bs-trigger="hover">
                <img class="button-icon" src="static/images/arrow-clockwise.svg">
            </button>
            <span data-bs-toggle="offcanvas" data-bs-target="#argsOffcanvas" aria-controls="argsOffcanvas">
                <button class="btn btn-secondary" type="button" data-bs-toggle="tooltip" data-bs-title="Settings" data-bs-trigger="hover">
                    <img class="button-icon" src="static/images/gear.svg">
                </button>
            </span>
        </div>
    </div>
</nav>

