<div class="fill-box py-2" id="quicksettings">
    <div class="tabs h-100" id="quickTabContents">
        <div class="tab h-100 active" id="quicksettingsTabContent">
            <div class="row h-100 align-items-end" data-tabname="quicksettings">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <input id="showOutOfLogicQuick" data-setting="showOutOfLogic" type="checkbox" class="form-check-input" onchange="saveQuickSettings()">
                            <label for="showOutOfLogicQuick" class="form-label">Show out of logic</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="ignoreHigherLogicQuick" data-setting="ignoreHigherLogic" type="checkbox" class="form-check-input" onchange="saveQuickSettings()">
                            <label for="ignoreHigherLogicQuick" class="form-label">Ignore higher logic levels</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="hideCheckedQuick" data-setting="hideChecked" type="checkbox" class="form-check-input" onchange="saveQuickSettings()">
                            <label for="hideCheckedQuick" class="form-label">Hide checked locations</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="hideVanillaQuick" data-setting="hideVanilla" type="checkbox" class="form-check-input" onchange="saveQuickSettings()">
                            <label for="hideVanillaQuick" class="form-label">Hide vanilla checks</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab h-100" id="autotrackerTabContent">
            <div class="row h-100 justify-content-center align-items-end">
                <div class="col">
                    <div class="row py-2 hidden" id="romRow">
                        <div class="col rom-col">
                            <label for="romInput" class="form-label rom-label">Select ROM File <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="The autotracker requires a copy of the ROM file before entrances can be tracked"></label>
                            <input type="file" accept=".gbc" class="hidden" id="romInput" onchange="loadRom(this)" />
                            <input type="button" class="btn btn-secondary rom-button" value="Browse..." onclick="document.getElementById('romInput').click();" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea id="autotrackerMessages" readonly></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <input id="enableAutotracking" data-setting="enableAutotracking" type="checkbox" class="form-check-input" onchange="saveQuickSettings()">
                            <label for="enableAutotracking" class="form-label">Enable Autotracker</label>
                        </div>
                    </div>
                    <div class="row" data-tabname="autotracker">
                        <div class="col px-1">
                            <button class="btn btn-secondary autotracker-button" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Reload items from autotracker" onclick="reloadFromAutotracker()" type="button">
                                <img src="static/images/arrow-clockwise.svg">
                            </button>
                        </div>
                        <div class="col px-1">
                            <a href="https://magpietracker.us/static/magpie-autotracker.exe" class="btn btn-secondary autotracker-button" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Download autotracker" role="button">
                                <img src="static/images/file-arrow-down.svg">
                            </a>
                        </div>
                        <div class="col px-1">
                            <a href="https://bgb.bircd.org/bgb.zip" class="btn btn-secondary autotracker-button" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Download compatible emulator (bgb)" role="button">
                                <img src="static/images/dpad.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab h-100" id="spoilersTabContent">
            <div class="row h-100 align-items-end" data-tabname="spoilers">
                <div class="col rom-col">
                    <div class="row">
                        <div class="col">
                            <p id="spoilerSeed"></p>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col">
                            <input type="button" id="spoilAllButton" class="btn btn-secondary hidden" value="Spoil All Locations" onclick="spoilAll();" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="spoilerInput" class="form-label pe-2">Select Spoiler File <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Select either a JSON spoiler log file or a ROM file"></label>
                            <input type="file" accept=".json,.gbc" class="hidden" id="spoilerInput" onchange="loadLogFile(this)" />
                            <input type="button" class="btn btn-secondary spoiler-browse" value="Browse..." onclick="document.getElementById('spoilerInput').click();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab h-100" id="plandoTabContent">
            <div class="row h-100 align-items-end" data-tabname="plando">
                <div class="col rom-col">
                    <input type="button" class="btn btn-secondary" value="Export as Plan" onclick="exportPlando()" />
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav" id="quickTabs">
    <li class="quicktab-button active" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tabname="quicksettings" data-bs-title="Quick Settings" data-bs-trigger="hover">
        <button class="btn quicktab-link" id="quicksettingsTab" data-tabname="quicksettings" type="button" onclick="quickSettingsTab(this)"><img class="quicksetting-icon" src="static/images/ui-checks.svg"></button>
    </li>
    <li class="quicktab-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tabname="autotracker" data-bs-title="Autotracking" data-bs-trigger="hover">
        <button class="btn quicktab-link" id="autotrackerTab" data-tabname="autotracker" type="button" onclick="quickSettingsTab(this)"><img class="quicksetting-icon" src="static/images/cpu.svg"></button>
    </li>
    <li class="quicktab-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tabname="spoilers" data-bs-title="Spoilers" data-bs-trigger="hover">
        <button class="btn quicktab-link" id="spoilersTab" data-tabname="spoilers" type="button" onclick="quickSettingsTab(this)"><img class="quicksetting-icon" src="static/images/eye.svg"></button>
    </li>
    <li class="quicktab-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tabname="plando" data-bs-title="Plandomizer" data-bs-trigger="hover">
        <button class="btn quicktab-link" id="plandoTab" data-tabname="plando" type="button" onclick="quickSettingsTab(this)"><img class="quicksetting-icon" src="static/images/gift.svg"></button>
    </li>
</ul>

<script type="application/javascript">
    function quickSettingsTab(element) {
        let tabName = $(element).attr('data-tabname');
        $('#quickTabContents .tab.active').removeClass('active');
        $('#quickTabs .quicktab-button.active').removeClass('active');
        $(`#quickTabs .quicktab-button[data-tabname=${tabName}]`).addClass('active');
        $(`#quickTabContents .tab [data-tabname=${tabName}]`).closest('.tab').addClass('active');
    }
</script>