<script src="static/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/light-switch-bootstrap-0.1.3/switch.js"></script>
<script src="static/js/locations.js"></script>

<!-- Main scripts -->
<script type="application/javascript">
    function refreshItems() {
        $.ajax({
            type: "POST",
            url: "/items",
            data: {
                args: JSON.stringify(args),
            },
            success: function(response) {
                $('#itemContainer').html(response);
                initKnownItems();
                refreshCheckList();
             }
        });
    }

    function refreshCheckList() {
        var activeTabId = $('ul#mapTabs button.active').attr('id');

        if (activeTabId == undefined) {
            activeTabId = 'overworldTab';
        }

        $.ajax({
            type: "POST",
            url: "/checkList",
            data: {
                args: JSON.stringify(args),
                inventory: JSON.stringify(inventory),
            },
            success: function(response) {
                $('#checkList').html(response);
                refreshChecked();

                var button = $(`button#${activeTabId}`);
                var pane = $($(button).attr('data-bs-target'));

                $(pane).addClass('show');
                $(pane).addClass('active');
                $(button).attr('aria-selected', "true");
                $(button).addClass('active');

                drawActiveTab();
             }
        });
    }

    function preventDoubleClick(event) {
        if (event.detail > 1) {
            event.preventDefault();
        }
    }

    {% if local %}
    async function getRequest(url='') {
        const response = await fetch(url, {
          method: 'GET', 
          cache: 'no-cache'
        })
        return response.json()
    }

    document.addEventListener('DOMContentLoaded', function() {
    
    let url = document.location
    let route = "/flaskwebgui-keep-server-alive"
    let interval_request = 3 * 1000 //sec
    
    function keep_alive_server(){
        getRequest(url + route)
        .then(data => console.log(data))
    }
    
    setInterval(keep_alive_server, interval_request)()
    
    })
    {% endif %}
</script>

<!-- Item panel scripts -->
<script src="{{ url_for('static', filename='js/items.js') }}"></script>
<script type="application/javascript">
    function jumpSrc() {
        feather = inventory['FEATHER'] > 0;
        rooster = inventory['ROOSTER'] > 0;

        if (!feather && !rooster) {
            return 'static/images/NO_JUMP.png';
        }
        if (!feather && rooster) {
            return 'static/images/ROOSTER.png';
        }
        if (feather && !rooster) {
            return 'static/images/FEATHER.png';
        }

        return 'static/images/BOTH_JUMP.png';
    }

    function tunicSrc()
    {
        blue = inventory['BLUE_TUNIC'] > 0;
        red = inventory['RED_TUNIC'] > 0;

        if (!blue && !red)
        {
            return 'static/images/GREEN_TUNIC.png';
        }
        if (blue && !red)
        {
            return 'static/images/BLUE_TUNIC.png';
        }
        if (!blue && red)
        {
            return 'static/images/RED_TUNIC.png';
        }
        
        return 'static/images/BLUERED_TUNIC.png';
    }

    initKnownItems();
</script>

<!-- Flag panel scripts -->
<script type="application/javascript">
    const defaultArgs = JSON.parse('{{jsonArgs|safe}}');

    function saveArgs() {
        var flags = document.querySelectorAll('[data-flag]');

        for (const flag of flags) {
            name = flag.dataset.flag;
            if (flag.type == 'checkbox') {
                value = flag.checked;
            }
            else {
                value = flag.value;
            }

            args[name] = value;
        }

        localStorage.setItem('args', JSON.stringify(args));
        refreshItems();
        refreshCheckList();
    }

    function loadArgs() {
        try {
            args = JSON.parse(localStorage.getItem('args'));
        }
        catch (err) {
        }

        try {
            if (!('logic' in args)) {
                args = defaultArgs;
            }
        }
        catch (err) {
            args = defaultArgs;
        }

        var flags = document.querySelectorAll('[data-flag]');
        for (const flag of flags) {
            name = flag.dataset.flag;

            if (name in args) {
                if (flag.type == 'checkbox') {
                    flag.checked = args[name];
                }
                else {
                    flag.value = args[name];
                }
            }
        }

        refreshItems();
        refreshCheckList();
    }

    loadArgs();
</script>

<!-- Map scripts -->
<script type="application/javascript">
    var checkedChecks = null;
    var mapNodes = null;

    function saveChecked() {
        localStorage.setItem('checkedChecks', JSON.stringify(checkedChecks));
    }

    function loadChecked() {
        try {
            checkedChecks = JSON.parse(localStorage.getItem('checkedChecks'));
        }
        catch (err) {
            checkedChecks = {};
        }

        if (checkedChecks == null) {
            checkedChecks = {};
        }

        refreshChecked();
    }

    function getCheckedKey(area, name) {
        return `${area}-${name}`;
    }

    function toggleNode(node) {
        $(node).tooltip('hide');
        var keys = $(node).attr('data-ids').split(',');
        var toggleList = [];

        keys = new Set(keys.map(x => x.split(';')[0]));

        for (const key of keys) {
            var id = key.split(';')[0];
            var coord = coordDict[id][0];
            if (!(`${coord.area}-${coord.name}` in checkedChecks)) {
                toggleList.push(id);
            }
        }

        if (toggleList.length > 0) {
            for (const id of toggleList) {
                var textCheck = $(`li[data-id="${id}"`);
                toggleCheck(null, textCheck, false);
            }
        }
        else {
            for (const key of keys) {
                var id = key.split(';')[0];
                var textCheck = $(`li[data-id="${id}"`);
                toggleCheck(null, textCheck, false);
            }
        }

        drawActiveTab();
    }

    function toggleSingleNodeCheck(check) {
        var id = $(check).attr('data-id');
        var textCheck = $(`li[data-id="${id}"`);
        $(`.checkGraphic`).tooltip('hide');
        toggleCheck(null, textCheck);
    }

    function toggleCheck(event, elements, draw=true) {
        for (const element of elements) {
            var area = element.dataset.checkarea;
            var name = element.dataset.checkname;
            var logic = $(element).closest(".row[data-logic]").attr('data-logic');
            var key = getCheckedKey(area, name);

            if (logic != 'Checked') {
                check = new Object();
                check.name = name;
                check.area = area;

                checkedChecks[key] = check;
                moveCheckToChecked(element);
            }
            else {
                delete checkedChecks[key];
                moveCheckFromChecked(element);
            }

            saveChecked();

            if (event != null) {
                if (event.detail > 1) {
                    event.preventDefault();
                }
            }
        }

        if (draw) {
            drawActiveTab();
        }
    }

    function moveCheckToChecked(element) {
        var logic = element.dataset.logic;
        var area = element.dataset.checkarea;
        var destArea = $(`[data-logic="Checked"] [data-area="${area}"]`)
        var sourceArea = $(`[data-logic="${logic}"] [data-area="${area}"]`);

        if (destArea.length == 0) {
            var destLogic = $('.row[data-logic=Checked]');
            var accordionItem = $(destLogic).closest('.accordion-item');
            var newCard = $(sourceArea).clone();

            ul = newCard.find('ul');
            $(ul).html('');

            accordionItem.removeClass('hidden');
            $(destLogic).append(newCard);

            destArea = $(`[data-logic="Checked"] [data-area="${area}"]`)
        }

        ul = destArea.find('ul');
        $(ul).append(element);

        if ($(sourceArea).find('ul').children().length == 0) {
            $(sourceArea).remove();
        }

        if (logic != 'In logic') {
            var sourceLogic = $(`.row[data-logic="${logic}"]`).closest('.accordion-item');
            if ($(sourceLogic).find('[data-area]').length == 0) {
                $(sourceLogic).addClass('hidden');
            }
        }
    }

    function moveCheckFromChecked(element) {
        var logic = element.dataset.logic;
        var area = element.dataset.checkarea;
        var destArea = $(`[data-logic="${logic}"] [data-area="${area}"]`);
        var sourceArea = $(`[data-logic="Checked"] [data-area="${area}"]`)

        if (destArea.length == 0) {
            var destLogic = $(`.row[data-logic="${logic}"]`);
            var accordionItem = $(destLogic).closest('.accordion-item');
            var newCard = $(sourceArea).clone();

            ul = newCard.find('ul');
            $(ul).html('');

            accordionItem.removeClass('hidden');
            $(destLogic).append(newCard);

            destArea = $(`[data-logic="${logic}"] [data-area="${area}"]`);
        }

        ul = destArea.find('ul');
        $(ul).append(element);

        if ($(sourceArea).find('ul').children().length == 0) {
            $(sourceArea).remove();
        }

        var sourceLogic = $(`.row[data-logic="Checked"]`).closest('.accordion-item');
        if ($(sourceLogic).find('[data-area]').length == 0) {
            $(sourceLogic).addClass('hidden');
        }
    }

    function refreshChecked() {
        for (var key in checkedChecks) {
            var check = checkedChecks[key];
            element = $(`li[data-checkarea="${check.area}"][data-checkname="${check.name}"]`);
            if (element.length > 0) {
                moveCheckToChecked(element[0]);
            }
        }
    }

    function resetChecks() {
        checkedChecks = {};
        saveChecked();
    }

    function clearCheckImages() {
        $('.checkGraphic').remove();
    }

    function drawChecks(mapName, animate=true) {
        var mapImg = $(`.map[data-mapname="${mapName}"`);

        if ($(mapImg).width() <= 100) {
            $(mapImg).on('load', function () { drawChecks(mapName, animate); });
            return;
        }

        closeAllCheckTooltips();

        var allMapImgs = $('.map');
        var allMapNames = new Object();

        for (const mapImg of allMapImgs) {
            allMapNames[$(mapImg).attr('data-mapname')] = true;
        }

        //clearCheckImages();
        $('.animate__fadeOut').remove();

        var map = $(mapImg).closest('div.tab-pane');
        var parent = $(map).find('div.map-wrapper');

        var xScale = Math.min(1, $(map).width() / $(map).find('.map').prop('naturalWidth'));
        var yScale = Math.min(1, $(map).height() / $(map).find('.map').prop('naturalHeight'));

        var xOffset = (16 * xScale - 16) / 2;
        var yOffset = (16 * yScale - 16) / 2;

        var checks = $('li[data-logic]');
        var nodes = new Object();
        for (const check of checks) {
            var id = $(check).attr('data-id');
            var checkMaps = coordDict[id].map(function(x) { return x.map; });

            if ($(check).attr('data-logic') == 'Out of logic'
                || !(checkMaps.includes(mapName))) {
                continue;
            }

            var name = $(check).attr('data-checkname');
            var area = $(check).attr('data-checkarea');
            var behindKeys = $(check).attr('data-behind_keys') == 'True'
            var isChecked = `${area}-${name}` in checkedChecks;
            var difficulty = isChecked ? -1 : Number($(check).attr('data-difficulty'));
            var coords = coordDict[id];

            for (const coord of coords) {
                if (coord.map != mapName) {
                    continue;
                }

                var x = Math.round(coord.x * xScale + xOffset);
                var y = Math.round(coord.y * yScale + yOffset);
                var key = `${x},${y}`;

                if (!(key in nodes)) {
                    nodes[key] = [];
                }

                nodes[key].push({id: id, difficulty: difficulty, behindKeys: behindKeys});
            }
        }

        var oldNodes = new Set();
        $('.checkGraphic').each(function () {
            oldNodes.add($(this).attr('data-node-id'));
        });

        for (const key in nodes) {
            var coord = key.split(',');
            var difficulty = 'checked';
            var allBehindKeys = false;
            var ids = [];

            for (const check of nodes[key]) {
                ids.push(`${check.id};${check.difficulty};${check.behindKeys ? 1 : 0}`);
                
                var diff = check.difficulty;
                if (diff >= 0) {
                    if ((diff < difficulty || difficulty == 'checked')) {
                        difficulty = diff;
                        allBehindKeys = true;
                    }
                
                    if (!check.behindKeys && diff <= difficulty) {
                        allBehindKeys = false;
                    }
                }
            }

            var keyClass = allBehindKeys ? ' behind-keys' : '';
            var animationClass = animate ? ' animate__bounceInDown' : '';
            var ids = ids.join(',');
            var classes = `checkGraphic animate__animated difficulty-${difficulty}${keyClass}`;
            var img = $(`[data-node-id="${key}"]`);

            if (img.length > 0) {
                $(img).attr('class', classes);
                $(img).attr('data-ids', ids);
                $(img).removeClass('animate__bounceInDown');
            }
            else {
                img = $('<div>', {
                    //src: 'static/images/blank.png',
                    'data-ids': ids,
                    'data-node-id': key,
                    class: classes + animationClass,
                    css: {
                        'top': Number(coord[1]),
                        'left': Number(coord[0]),
                    },
                    onclick: 'closeOtherTooltips(this);',
                    oncontextmenu: 'toggleNode(this); return false;',
                });

                $(parent).append(img);
            }

            addTooltip(img);

            oldNodes.delete(key);
        }

        for (const staleNode of oldNodes) {
            var node = $(`[data-node-id="${staleNode}"]`);
            $(node).removeClass('animate__bounceInDown');
            $(node).addClass('animate__fadeOut');
        }
    }

    function closeOtherTooltips(element) {
        var id = $(element).attr('data-node-id');
        $(`.checkGraphic[data-node-id!="${id}"]`).tooltip('hide');
    }

    function closeAllCheckTooltips() {
        $(`.checkGraphic`).tooltip('hide');
    }

    function addTooltip(check) {
        var ids = $(check).attr('data-ids').split(',');
        var uniqueIds = new Set(ids.map(x => x.split(';')[0]));
        var graphicTemplate = "<div class='tooltip-check-graphic align-self-center difficulty-{0}{1}'></div>";
        var template = "<div class='tooltip-check text-start d-flex p-1 mb-0 {0}' data-id='{1}' onclick='toggleSingleNodeCheck(this);' oncontextmenu='return false;'>{2}<div class='tooltip-text align-middle ps-2'>{3} - {4}</div></div>"
        var title = "<div class='map-container'>";
        var first = true;

        for (const id of uniqueIds) {
            var matchingIds = ids.filter(x => x.split(';')[0] == id);
            var graphic = '';

            for (const matchingId of matchingIds) {
                var chunks = matchingId.split(';');
                var difficulty = chunks[1] == -1 ? 'checked' : chunks[1];
                var behindKeys = chunks[2] == 1 ? ' behind-keys' : '';

                /*if (graphic != '') {
                    graphic += '|';
                }*/

                graphic += graphicTemplate.replace('{0}', difficulty)
                                          .replace('{1}', behindKeys);

            }

            var coord = coordDict[id][0];

            
            var line = template.replace('{1}', id)
                               .replace('{2}', graphic)
                               .replace('{3}', coord.area)
                               .replace('{4}', coord.name);

            if (!first) {
                line = line.replace('{0}', 'pt-2')
            }
            else {
                line = line.replace(' {0}', '')
                first = false;
            }

            title += line;
        }

        title += '</div>';

        var activated = $(check).attr('data-bs-toggle') == "tooltip";

        $(check).attr('data-bs-toggle', "tooltip");
        $(check).attr('data-bs-trigger', "click hover");
        $(check).attr('data-bs-html', "true");
        $(check).attr('data-bs-title', title);

        if (activated) {
            var oldTooltip = bootstrap.Tooltip.getInstance(check);
            oldTooltip.dispose();
        }

        var tooltip = new bootstrap.Tooltip(check);
        check[0].addEventListener('inserted.bs.tooltip', (x) => {
            $('.tooltip').attr('oncontextmenu', 'return false;');
        })

        //$(check).tooltip('show');
    }

    function drawActiveTab() {
        var activeTabId = $('ul#mapTabs button.active').attr('id');
        var button = $(`button#${activeTabId}`)[0];
        drawChecks(getMapNameFromButton(button), true);
    }

    function getMapNameFromButton(button) {
        var target = $(button).attr('data-bs-target');
        var img = $(`${target} img.map`);
        var mapName = $(img).attr('data-mapname');

        return mapName;
    }

    function drawTab(button) {
        drawChecks(getMapNameFromButton(button), false);
    }

    function processLocations() {
        coordDict = new Object();

        for (coord of locationCoords) {
            if (!(coord.id in coordDict)) {
                coordDict[coord.id] = [];
            }

            coordDict[coord.id].push(coord);
        }

        for (const [id, checks] of Object.entries(coordDict)) {
            if (checks.length <= 1) { continue; }

            var primary = null;
            var duplicate = null;

            do {
                primary = null;
                duplicate = null;

                for (var i = 0; i < checks.length - 1; i++) {
                    var check1 = checks[i];
                    for (var j = i + 1; j < checks.length; j++) {
                        var check2 = checks[j];
                        if (Math.abs(check1.x - check2.x) <= 17 && Math.abs(check1.y - check2.y) <= 17) {
                            check1.x = (check1.x + check2.x) / 2;
                            check1.y = (check1.y + check2.y) / 2;
                            primary = i;
                            duplicate = j;
                            break;
                        }
                    }

                    if (duplicate != null) {
                        checks.splice(duplicate, 1);
                        break;
                    }
                }
            } while (duplicate != null);
        }

        var test = '';
    }

    const allowList = bootstrap.Tooltip.Default.allowList
    allowList.div.push('data-id');
    allowList.div.push('onclick');
    //allowList.div.push('oncontextmenu');

    loadChecked();
</script>