<script src="static/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/light-switch-bootstrap-0.1.3/switch.js"></script>
<script src="static/lib/jquery.connections/jquery.connections.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/mapNode.js"></script>
<script src="static/js/checks.js"></script>
<script src="static/js/entrances.js"></script>
<script src="static/js/checkList.js"></script>
<script src="static/js/map.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/items.js"></script>

<script type="application/javascript">
    const defaultArgs = JSON.parse('{{jsonArgs|safe}}');
    const defaultSettings = JSON.parse('{{jsonSettings|safe}}')
    var startLocations = [];
    var entrances = [];
    var localSettings = null;
    var entranceMap = {};
    var reverseEntranceMap = {};
    var checkedChecks = {};
    var inventory = {};
    var mapNodes = null;
    var args = null;
    var skipNextAnimation = true;

    function refreshItems() {
        $.ajax({
            type: "POST",
            url: "/items",
            data: {
                args: JSON.stringify(args),
            },
            success: function(response) {
                $('#itemContainer').html(response);
                initKnownItems();
                refreshCheckList();
             }
        });
    }

    function refreshCheckList() {
        let activeTabId = $('ul#mapTabs button.active').attr('id');

        if (activeTabId == undefined) {
            activeTabId = 'overworldTab';
        }

        $.ajax({
            type: "POST",
            url: "/checkList",
            data: {
                args: JSON.stringify(args),
                inventory: JSON.stringify(inventory),
                entranceMap: JSON.stringify(entranceMap),
            },
            success: function(response) {
                $('#checkList').html(response);
                refreshChecked();

                let button = $(`button#${activeTabId}`);
                let pane = $($(button).attr('data-bs-target'));

                $(pane).addClass('show');
                $(pane).addClass('active');
                $(button).attr('aria-selected', "true");
                $(button).addClass('active');

                pruneEntranceMap();
                drawActiveTab();
             }
        });
    }

    // Composite item logic
    function jumpSrc() {
        feather = inventory['FEATHER'] > 0;
        rooster = inventory['ROOSTER'] > 0;

        if (!feather && !rooster) {
            return 'static/images/NO_JUMP.png';
        }
        if (!feather && rooster) {
            return 'static/images/ROOSTER.png';
        }
        if (feather && !rooster) {
            return 'static/images/FEATHER.png';
        }

        return 'static/images/BOTH_JUMP.png';
    }

    function tunicSrc()
    {
        blue = inventory['BLUE_TUNIC'] > 0;
        red = inventory['RED_TUNIC'] > 0;

        if (!blue && !red)
        {
            return 'static/images/GREEN_TUNIC.png';
        }
        if (blue && !red)
        {
            return 'static/images/BLUE_TUNIC.png';
        }
        if (!blue && red)
        {
            return 'static/images/RED_TUNIC.png';
        }
        
        return 'static/images/BLUERED_TUNIC.png';
    }

    modifyTooltipAllowList();
    initKnownItems();
    loadSettings();
    loadLocations();

    {% if local %}
    async function getRequest(url='') {
        const response = await fetch(url, {
          method: 'GET', 
          cache: 'no-cache'
        })
        return response.json()
    }

    document.addEventListener('DOMContentLoaded', function() {
    
    let url = document.location
    let route = "/flaskwebgui-keep-server-alive"
    let interval_request = 3 * 1000 //sec
    
    function keep_alive_server(){
        getRequest(url + route)
        .then(data => console.log(data))
    }
    
    setInterval(keep_alive_server, interval_request)()
    
    })
    {% endif %}
</script>