<script src="static/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/light-switch-bootstrap-0.1.3/switch.js"></script>
<script src="static/lib/jquery.connections/jquery.connections.js"></script>
<script src="static/lib/summernote/summernote-lite.js"></script>
<script src="static/lib/masonry/masonry.pkgd.min.js"></script>
<script src="static/lib/html-to-image/html-to-image.js"></script>
<script src="static/lib/JSZip/jszip.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/model/mapNode.js"></script>
<script src="static/js/model/nodeTooltip.js"></script>
<script src="static/js/model/check.js"></script>
<script src="static/js/model/entrance.js"></script>
<script src="static/js/model/connection.js"></script>
<script src="static/js/model/boss.js"></script>
<script src="static/js/map/connectorDialog.js"></script>
<script src="static/js/map/graphics.js"></script>
<script src="static/js/map/input.js"></script>
<script src="static/js/map/nodes.js"></script>
<script src="static/js/map/tooltips.js"></script>
<script src="static/js/metadata/checkMetadata.js"></script>
<script src="static/js/metadata/alttpCheckMetadata.js"></script>
<script src="static/js/metadata/entranceMetadata.js"></script>
<script src="static/js/metadata/connectorMetadata.js"></script>
<script src="static/js/metadata/bossMetadata.js"></script>
<script src="static/js/metadata/mapMetadata.js"></script>
<script src="static/js/state/settings.js"></script>
<script src="static/js/state/items.js"></script>
<script src="static/js/state/locations.js"></script>
<script src="static/js/state/undo.js"></script>
<script src="static/js/state/checkContents.js"></script>
<script src="static/js/state/bosses.js"></script>
<script src="static/js/checkList.js"></script>
<script src="static/js/items.js"></script>
<script src="static/js/messaging.js"></script>
<script src="static/js/spoilerLog.js"></script>
<script src="static/js/plando.js"></script>
<script src="static/js/ndi.js"></script>
<script src="static/js/sharing.js"></script>

<script type="application/javascript">
    "use strict"

    function tryParseJson(json) {
        let obj = {};

        try {
            obj = JSON.parse(json);
        }
        catch (error) {
            console.log(error);
        }

        return obj;
    }

    const protocolVersion = '1.32';
    const defaultArgs = tryParseJson('{{jsonArgs|safe}}');
    const defaultSettings = tryParseJson('{{jsonSettings|safe}}');
    var settingsOverrides = tryParseJson('{{jsonSettingsOverrides|safe}}');
    var argsOverrides = tryParseJson('{{jsonArgsOverrides|safe}}');
    var diskSettings = tryParseJson('{{diskSettings|safe}}');
    var startLocations = [];
    var randomizedEntrances = null;
    var entranceAccessibility = null;
    var checkAccessibility = null;
    var checksById = {};
    var localSettings = null;
    var entranceMap = {};
    var reverseEntranceMap = {};
    var connections = [];
    var bossMap = {};
    var checkedChecks = new Set();
    var checkContents = {};
    var itemLocations = {};
    var hoveredItems = [];
    var inventory = {};
    var mapNodes = null;
    var args = null;
    var skipNextAnimation = true;
    var undoStack = [];
    var redoStack = [];
    var graphicalMapSource = null;
    var graphicalMapChoices = null;
    var graphicalMapType = null;
    var graphicalMapOriginalMap = null;
    var autotrackerSocket = null;
    var romRequested = false;
    var autotrackerFeatures = [];
    var currentRoom = null;
    var currentX = null;
    var currentY = null;
    var overworldRoom = null;
    var overworldX = null;
    var overworldY = null;
    var iconStyles = $('link[href="/static/css/icons.css"]')[0].sheet;
    var themeStyles = $('link[href="/static/css/theme.css"]')[0].sheet;
    var local = '{{local}}' == 'True';
    var remoteProtocolVersion = null;
    var checkSize = 16;
    var skipSettingsSave = false;
    var maxInventory = {};
    var errorLog = [];
    var messageQueue = [];
    var settingsPending = false;
    var liveUpdate = false;
    var allowAutotracking = '{{allowAutotracking}}' == 'True';
    var allowMap = '{{allowMap}}' == 'True';
    var keepQueryArgs = '{{keepQueryArgs}}' == 'True';
    var settingsPrefix = '{{settingsPrefix}}';
    var players = {{players|safe}};
    var playerInventories = {};
    var lastViewport = viewportSnapshot();
    var messageLog = [];
    var maxMessageLogSize = 1000;
    var updateInsideEntrances = false;

    const renamedItems = {
        "KEY9": "KEY0",
        "NIGHTMARE_KEY9": "NIGHTMARE_KEY0",
        "MAP9": "MAP0",
        "COMPASS9": "COMPASS0",
        "STONE_BEAK9": "STONE_BEAK0",
        "INSTRUMENT9": "INSTRUMENT0",
        "REQ9": "REQ0",
        "ITEM9": "ITEM0",
    };

    var startHouse = 'start_house:inside';

    function refreshItems() {
        $.ajax({
            type: "POST",
            url: "/items",
            data: {
                args: JSON.stringify(args),
                localSettings: JSON.stringify(localSettings),
            },
            success: function(response) {
                if (localSettings.showItemsOnly) {
                    $('#checkList').hide();
                    $('#mapContainer').hide();
                }
                else {
                    $('#checkList').show();
                    $('#mapContainer').show();
                }

                for (const player of players) {
                    let container = $(`[data-player="${player}"] #itemContainer`);
                    container.html(response);

                    let containerElement = container[0];
                    for (const element of containerElement.querySelectorAll('[data-parent-player]')) {
                        element.dataset.parentPlayer = player;
                    }
                }

                if (players.length <= 1) {
                    //Activate the bootstrap tooltips
                    let tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]:not(.itemWrapper)')
                    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl, { sanitize: false }))
                    let itemTooltips = document.querySelectorAll('.itemWrapper[data-bs-toggle="tooltip"]')
                    tooltipList = [...itemTooltips].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl, { delay: { "show": 500, "hide": 0 }, sanitize: false }))
                }

                if (localSettings.highlightItemsOnHover) {
                    $('.itemImage').addClass('glow');
                }
                else {
                    $('.itemImage').removeClass('glow');
                }

                initKnownItems();
                refreshCheckList();
             }
        });
    }

    function refreshCheckList() {
        if (!allowMap) {
            return;
        }

        let tempInventory = structuredClone(inventory);

        // Kiki is logically important since they open the bridge
        if (Check.isChecked('0x07B-Trade')) {
            tempInventory['TRADING_ITEM_BANANAS'] = 1;
        }

        let bossList = getBossList();
        let minibossMap = getMinibossMap();

        $.ajax({
            type: "POST",
            url: "/checkList",
            data: {
                args: JSON.stringify(args),
                inventory: JSON.stringify(tempInventory),
                entranceMap: JSON.stringify(entranceMap),
                bossList: JSON.stringify(bossList),
                minibossMap: JSON.stringify(minibossMap),
            },
            success: function(response) {
                response = JSON.parse(response);
                pruneEntranceMap();

                randomizedEntrances = response.randomizedEntrances;
                startLocations = response.startLocations;
                entranceAccessibility = response.accessibility.entrances;
                checksById = {};
                checkAccessibility = response.accessibility.checks.map(x => {
                    let check = new Check(x);
                    checksById[x.id] = check;
                    return check;
                });

                document.querySelectorAll('.legend-difficulty').forEach(x => x.classList.add('hidden'));

                for (const logic of response.logics) {
                    let name = document.getElementById(`legendDifficultyName${logic.difficulty}`);

                    if (!name) {
                        continue;
                    }

                    name.innerHTML = `: ${logic.name}`;

                    let wrapper = document.getElementById(`legendDifficulty${logic.difficulty}`);
                    wrapper.classList.remove('hidden');

                    if (!isNaN(logic.difficulty) && logic.difficulty > 0 && logic.difficulty < 9) {
                        document.getElementById(`difficulty${logic.difficulty}AccordionName`).innerHTML = logic.friendlyName;
                    }
                }

                let checkCount = new Set(checkAccessibility.filter(x => !x.isVanillaOwl() && x.id != 'egg' && !x.metadata.vanillaItem).map(x => x.id)).size;
                document.getElementById('checkCounter').innerHTML = `Total checks: ${checkCount}`;

                pruneEntranceMap();
                fillVanillaLogEntrances();
                updateEntrances();

                setTimeout(drawActiveTab);
                setTimeout(refreshTextChecks);
            }
        });
    }

    function loadShortString(saveOnLoad=false) {
        let shortString = $("#shortString")[0].value;

        $.ajax({
            type: "POST",
            url: "/shortString",
            data: {
                shortString: shortString,
            },
            success: function(response) {
                let newArgs = JSON.parse(response);
                fixArgs(newArgs);
                setInputValues('flag', newArgs);

                if (saveOnLoad) {
                    saveSettings();
                }

                settingsPending = false;

                for (const message of messageQueue) {
                    processMessage(message);
                }

                messageQueue = [];
            }
        });
    }

    function loadSpoilerLog(romData) {
        $.ajax({
            type: "POST",
            url: "/spoilerLog",
            data: {
                romData: btoa(romData),
            },
            success: function(response) {
                loadLogContents(response);
            }
        });
    }

    function errorHandler(e) {
        errorLog.push({
            col: e.colno,
            line: e.lineno,
            message: e.error.message,
            stack: e.error.stack,
            filename: e.filename,
            time: e.timeStamp,
        });
    }

    function init() {
        if (!players) {
            players = [''];
        }

        players.sort();

        for (const player of players) {
            if (!player) {
                continue;
            }

            playerInventories[player] = {};
        }

        window.addEventListener('error', errorHandler);

        $('.grid').masonry({
            transitionDuration: 0,
            columnWidth: '.text-check-card-wrapper:not(.hidden)',
        });
    
        $('.accordion-collapse').on('shown.bs.collapse', () => applyMasonry());

        modifyTooltipAllowList();
        initKnownItems();

        if ('args' in diskSettings) {
            setLocalStorage('args', diskSettings['args'])
        }

        if ('localSettings' in diskSettings) {
            setLocalStorage('settings', diskSettings['localSettings'])
        }

        let storage = { ...localStorage };
        let settingsErrors = loadSettings();
        let locationErrors = loadLocations();
        let checkErrors = loadCheckContents();

        loadBosses();

        $(document).keydown(keyDown);

        if (allowAutotracking) {
            document.addEventListener('DOMContentLoaded', function() {
                connectToAutotracker();

                setInterval(connectToAutotracker, 3 * 1000);
            });
        }

        $('#connectorModal').on('hide.bs.modal', () => { endGraphicalConnection(); });

        $(document).ready(function() {
            $('#bodyTextArea').summernote({
                height: 320,
            });
            $('#errorTextArea').summernote({
                height: 200,
            });
        });

        if (settingsErrors.length || locationErrors.length || checkErrors.length) {
            let payload = {
                'settingsErrors': settingsErrors.map(x => x.toString()),
                'locationErrors': locationErrors.map(x => x.toString()),
                'checkErrors': checkErrors.map(x => x.toString()),
                'storage': storage,
            };

            showErrorDialog("An error occurred while loading one or more types of data. Defaults will be loaded.", JSON.stringify(payload, null, 3));
        }

        $("#argsOffcanvas").on("hide.bs.offcanvas", function() {
            /*if(skipSettingsSave) {
                skipSettingsSave = false;
                console.log("skipping");
                return;
            }

            console.log("saving");*/
            saveSettings();
        });

        applySettings();

        liveUpdatePlayers();

        var popoverTriggerList = document.querySelectorAll('button[data-bs-toggle="popover"]')
        var popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

        var timeoutId;
        function resizeTimeout(a, b, c, d) {
            removeNodes();
            clearTimeout(timeoutId);
            skipNextAnimation = true;
            timeoutId = setTimeout(drawActiveTab, 100);
        }

        function viewportResizeTimeout(a, b, c, d) {
            if (lastViewport.height != window.visualViewport.height
                || lastViewport.width != window.visualViewport.width
                || lastViewport.scale != window.visualViewport.scale
                || lastViewport.left != window.visualViewport.offsetLeft
                || lastViewport.top != window.visualViewport.offsetTop) {
                removeNodes();
                clearTimeout(timeoutId);
                skipNextAnimation = true;
                timeoutId = setTimeout(drawActiveTab, 100);
            }

            lastViewport = viewportSnapshot();
        }

        window.addEventListener("resize", resizeTimeout); // Window size
        window.visualViewport.addEventListener('resize', viewportResizeTimeout); // Pinch zoom
    }

    init();

</script>