<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="argsOffcanvas" aria-labelledby="argsLabel">
    <div class="offcanvas-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="offcanvas-title" id="argsLabel">Settings</h5>
            </div>
            <div class="col">
                <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" onclick="settingsCancel()">Cancel</button> -->
            </div>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-auto">
                <h2>Randomizer Flags</h2>
            </div>
            <div class="col">

            </div>
            <div class="col-3">
                <input type="text" id="shortString" class="form-control" aria-label="Short String">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="loadShortString()">Load Short String</button>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Main</legend>
                    <div class="row pb-2">
                        <div class="col">
                            <label for="arg-logic" class="form-label">Logic</label>
                            <select id="arg-logic" class="form-select" data-flag="logic" aria-label="logic">
                                <option value="casual">Casual</option>
                                <option value="">Normal</option>
                                <option value="hard">Hard</option>
                                <option value="glitched">Glitched</option>
                                <option value="hell">Hell</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-ap_logic" class="form-check-input" data-flag="ap_logic">
                            <label class="form-check-label" for="arg-ap_logic"><img class="settings-image" src="static/images/archipelago.png">Archipelago logic mode</label>
                        </div>
                    </div>
                </fieldset>
            <!-- </div>
            <div class="col-auto"> -->
                <fieldset class="form-group">
                    <legend>Items</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-heartpiece" class="form-check-input" data-flag="heartpiece">
                            <label class="form-check-label" for="arg-heartpiece"><img class="settings-image" src="static/images/HEART_PIECE_1.png">Randomize heart pieces</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-seashells" class="form-check-input" data-flag="seashells">
                            <label class="form-check-label" for="arg-seashells"><img class="settings-image" src="static/images/SEASHELL_1.png">Randomize hidden seashells</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-heartcontainers" class="form-check-input" data-flag="heartcontainers">
                            <label class="form-check-label" for="arg-heartcontainers"><img class="settings-image" src="static/images/HEART_CONTAINER_1.png">Randomize heart containers</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-instruments" class="form-check-input" data-flag="instruments">
                            <label class="form-check-label" for="arg-instruments"><img class="settings-image" src="static/images/INSTRUMENT1_1.png">Randomize instruments</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-tradequest" class="form-check-input" data-flag="tradequest">
                            <label class="form-check-label" for="arg-tradequest"><img class="settings-image" src="static/images/TRADING_ITEM_YOSHI_DOLL_1.png">Randomize trade quest</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-witch" class="form-check-input" data-flag="witch">
                            <label class="form-check-label" for="arg-witch"><img class="settings-image" src="static/images/TOADSTOOL_1.png">Randomize item given by the witch</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-rooster" class="form-check-input" data-flag="rooster">
                            <label class="form-check-label" for="arg-rooster"><img class="settings-image" src="static/images/ROOSTER_1.png">Add the rooster</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Gameplay</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-dungeon_items" class="form-label"><img class="settings-image" src="static/images/KEY1_1.png">Dungeon items</label>
                            <select id="arg-dungeon_items" class="form-select" data-flag="dungeon_items" aria-label="dungeon_items" onchange="setCustomDungeonItemsVisibility();">
                                <option value="">Standard</option>
                                <option value="smallkeys">Small keys</option>
                                <option value="nightmarekeys">Nightmare keys</option>
                                <option value="localkeys">Map/Compass/Beaks</option>
                                <option value="localnightmarekey">MCB + SmallKeys</option>
                                <option value="keysanity">Keysanity</option>
                                <option value="keysy">Keysy</option>
                                <option value="custom">Custom</option>
                            </select>
                            <div id="customDungeonItems" class="pt-2">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <input type="checkbox" id="arg-shuffle_maps" class="form-check-input" data-flag="shuffle_maps">
                                        <label class="form-check-label" for="arg-shuffle_maps"><img class="settings-image" src="static/images/MAP1_1.png"></label>
                                    </div>
                                    <div class="col-4 text-center">
                                        <input type="checkbox" id="arg-shuffle_compasses" class="form-check-input" data-flag="shuffle_compasses">
                                        <label class="form-check-label" for="arg-shuffle_compasses"><img class="settings-image" src="static/images/COMPASS1_1.png"></label>
                                    </div>
                                    <div class="col-4 text-center">
                                        <input type="checkbox" id="arg-shuffle_beaks" class="form-check-input" data-flag="shuffle_beaks">
                                        <label class="form-check-label" for="arg-shuffle_beaks"><img class="settings-image" src="static/images/STONE_BEAK1_1.png"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-4 text-center">
                                        <input type="checkbox" id="arg-shuffle_small" class="form-check-input" data-flag="shuffle_small">
                                        <label class="form-check-label" for="arg-shuffle_small"><img class="settings-image" src="static/images/KEY1_1.png"></label>
                                    </div>
                                    <div class="col-4 text-center">
                                        <input type="checkbox" id="arg-shuffle_nightmare" class="form-check-input" data-flag="shuffle_nightmare">
                                        <label class="form-check-label" for="arg-shuffle_nightmare"><img class="settings-image" src="static/images/NIGHTMARE_KEY1_1.png"></label>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-boss" class="form-label"><img class="settings-image" src="static/images/b8.png">Boss shuffle</label>
                            <select id="arg-boss" class="form-select" data-flag="boss" aria-label="boss">
                                <option value="default">Normal</option>
                                <option value="shuffle">Shuffle</option>
                                <option value="random">Randomize</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-miniboss" class="form-label"><img class="settings-image" src="static/images/m1.png">Miniboss shuffle</label>
                            <select id="arg-miniboss" class="form-select" data-flag="miniboss" aria-label="miniboss">
                                <option value="default">Normal</option>
                                <option value="shuffle">Shuffle</option>
                                <option value="random">Randomize</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-goal" class="form-label"><img class="settings-image" src="static/images/egg.png">Goal</label>
                            <select id="arg-goal" class="form-select" data-flag="goal" aria-label="goal">
                                <!-- <option value="egg">Egg</option> -->
                                <option value="8">8 instruments</option>
                                <option value="7">7 instruments</option>
                                <option value="6">6 instruments</option>
                                <option value="5">5 instruments</option>
                                <option value="4">4 instruments</option>
                                <option value="3">3 instruments</option>
                                <option value="2">2 instruments</option>
                                <option value="1">1 instruments</option>
                                <option value="0">0 instruments</option>
                                <option value="open">Egg open</option>
                                <option value="seashells">Seashell hunt (20)</option>
                                <option value="bingo">Bingo!</option>
                                <option value="bingo-full">Bingo-25!</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Entrances</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-entranceshuffle" class="form-label"><img class="settings-image" src="static/images/entrance.svg">Entrance randomizer</label>
                            <select id="arg-entranceshuffle" class="form-select" data-flag="entranceshuffle" aria-label="entranceshuffle">
                                <option value="none">Default</option>
                                <option value="simple">Simple</option>
                                <option value="split">Split</option>
                                <option value="mixed">Mixed</option>
                                <option value="wild">Wild</option>
                                <option value="chaos">Chaos</option>
                                <option value="insane">Insane</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-randomstartlocation" class="form-check-input" data-flag="randomstartlocation">
                            <label class="form-check-label" for="arg-randomstartlocation"><img class="settings-image" src="static/images/marin.png">Random start location</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-dungeonshuffle" class="form-check-input" data-flag="dungeonshuffle">
                            <label class="form-check-label" for="arg-dungeonshuffle"><img class="settings-image" src="static/images/NIGHTMARE_KEY1_1.png">Dungeon shuffle</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-shufflejunk" class="form-check-input" data-flag="shufflejunk">
                            <label class="form-check-label" for="arg-shufflejunk"><img class="settings-image" src="static/images/phonebooth.png">Shuffle itemless entrances</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-shuffleannoying" class="form-check-input" data-flag="shuffleannoying">
                            <label class="form-check-label" for="arg-shuffleannoying"><img class="settings-image" src="static/images/mamu.png">Shuffle annoying entrances</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-shufflewater" class="form-check-input" data-flag="shufflewater">
                            <label class="form-check-label" for="arg-shufflewater"><img class="settings-image" src="static/images/manbo.png">Shuffle water entrances</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Special</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-bowwow" class="form-label"><img class="settings-image" src="static/images/BOWWOW_1.png">Good boy mode</label>
                            <select id="arg-bowwow" class="form-select" data-flag="bowwow" aria-label="bowwow">
                                <option value="normal">Disabled</option>
                                <option value="always">Enabled</option>
                                <option value="swordless">Enabled (swordless)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-overworld" class="form-label"><img class="settings-image" src="static/images/grass.png">Overworld</label>
                            <select id="arg-overworld" class="form-select" data-flag="overworld" aria-label="overworld">
                                <option value="normal">Normal</option>
                                <option value="dungeondive">Dungeon dive</option>
                                <option value="nodungeons">No dungeons</option>
                                <option value="alttp">ALttP</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-owlstatues" class="form-label"><img class="settings-image" src="static/images/owlstatue.png">Owl statues</label>
                            <select id="arg-owlstatues" class="form-select" data-flag="owlstatues" aria-label="owlstatues">
                                <option value="">Never</option>
                                <option value="dungeon">In dungeons</option>
                                <option value="overworld">On the overworld</option>
                                <option value="both">Dungeons and overworld</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>

            {% set ns = namespace(group='') %}
            {% set knownFlags = ['logic', 'heartpiece', 'seashells', 'heartcontainers', 'instruments', 'tradequest', 'witch', 'rooster', 'dungeon_items', 'goal', 'bowwow', 
                                 'overworld', 'owlstatues', 'race', 'spoilerformat', 'superweapons', 'boss', 'randomstartlocation', 'dungeonshuffle', 'entranceshuffle', 
                                 'miniboss', 'doubletrouble', 'hardMode', 'hpmode', 'accessibility_rule', 'itempool', 'boomerang', 'steal', 'test', 'romdebugmode', 'exportmap',
                                 'removeFlashingLights', 'quickswap', 'textmode', 'removeNagMessages', 'lowhpbeep', 'music', 'input_filename', 'output_filename', 'dump',
                                 'spoiler_filename', 'seed', 'emptyplan', 'timeout', 'log_directory', 'plan', 'multiworld', 'forwardfactor', 'linkspalette', 'accessibility',
                                 'hardmode', 'shufflejunk', 'shuffleannoying', 'shufflewater', 'enemies'] %}

            {% for arg in flags if  arg.name not in knownFlags %}
                {% if 'Other' != ns.group %}
                    {% if ns.group != '' %}
                        </fieldset>
                    </div>
                    {% endif %}
                    <div class="col-auto">
                        <fieldset class="form-group">
                            <legend>Other</legend>
                {% endif %}

                <div class="row pb-3">
                    <div class="col">
                    {% if arg.type != 'bool' %}
                        <label for="arg-{{arg.name}}" class="form-label">{{arg.name | title}}</label>
                        <select id="arg-{{arg.name}}" class="form-select" data-flag="{{arg.name}}" aria-label="{{arg.name}}">
                        {% if arg.choices != None %}
                            {% for choice in arg.choices %}
                                {% if choice == arg.value %}
                                    {% set selected = "selected" %}
                                {% else %}
                                    {% set selected = "" %}
                                {% endif %}

                                <option value="{{choice}}" {{selected}}>{{choice | title}}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    {% else %}
                        {% if arg.value %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}

                        <input type="checkbox" id="arg-{{arg.name}}" class="form-check-input" data-flag="{{arg.name}}" {{checked}} value="">
                        <label class="form-check-label" for="arg-{{arg.name}}">
                            {{arg.name | title}}
                        </label>
                    {% endif %}
                    </div>
                </div>

                {% set ns.group = 'Other' %}

            {% endfor %}

            {% if ns.group != '' %}
                </div>
            </fieldset>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Personalization</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Map</legend>
                    <div class="row">
                        <div class="col">
                            <label for="checkSize" class="form-label">Icon size</label>
                            <input id="checkSize" data-setting="checkSize" type="range" min="16" max="48" step="2" value="" class="form-range">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="mapBrightness" class="form-label">Brightness</label>
                            <input id="mapBrightness" data-setting="mapBrightness" type="range" min="25" max="100" value="" class="form-range">
                        </div>
                    </div>
                </fieldset>
            <!-- </div>
            <div class="col-auto"> -->
                <div class="row">
                    <div class="col">
                        <input id="swapMouseButtons" data-setting="swapMouseButtons" type="checkbox" class="form-check-input">
                        <label for="swapMouseButtons" class="form-label">Swap mouse buttons</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="animateChecks" data-setting="animateChecks" type="checkbox" class="form-check-input">
                        <label for="animateChecks" class="form-label">Animate checks</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="spoilOnCollect" data-setting="spoilOnCollect" type="checkbox" class="form-check-input">
                        <label for="spoilOnCollect" class="form-label">Spoil collected items <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Mark checked checks with the item they contained. Also automatically adds the contained item to your inventory. Requires a spoiler log to be loaded"></label>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Layout</legend>
                    <div class="row">
                        <div class="col">
                            <input id="swapItemsAndMap" data-setting="swapItemsAndMap" type="checkbox" class="form-check-input">
                            <label for="swapItemsAndMap" class="form-label">Swap items and map</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="stacked" data-setting="stacked" type="checkbox" class="form-check-input">
                            <label for="stacked" class="form-label">Stack map and items</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showDungeonItemCount" data-setting="showDungeonItemCount" type="checkbox" class="form-check-input">
                            <label for="showDungeonItemCount" class="form-label">Show major dungeon item count</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showGoMode" data-setting="showGoMode" type="checkbox" class="form-check-input">
                            <label for="showGoMode" class="form-label">Show go mode button</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showItemsOnly" data-setting="showItemsOnly" type="checkbox" class="form-check-input">
                            <label for="showItemsOnly" class="form-label">Only show items</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="highlightItemsOnHover" data-setting="highlightItemsOnHover" type="checkbox" class="form-check-input">
                            <label for="highlightItemsOnHover" class="form-label">Highlight items on hover</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="ownedHighlight" class="form-label">Highlight owned items</label>
                            <select id="ownedHighlight" class="form-select" data-setting="ownedHighlight" aria-label="ownedHighlight">
                                <option value="">None</option>
                                <option value="bar">Bar</option>
                                <option value="square">Square</option>
                            </select>
                        </div>
                    </div>
                    {% if local %}
                    <div class="row">
                        <div class="col">
                            <input id="ndiItems" data-setting="ndiItems" type="checkbox" class="form-check-input">
                            <label for="ndiItems" class="form-label">Enable items NDI output</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="ndiMap" data-setting="ndiMap" type="checkbox" class="form-check-input">
                            <label for="ndiMap" class="form-label">Enable map NDI output</label>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Visibility</legend>
                    <div class="row">
                        <div class="col">
                            <input id="showOutOfLogic" data-setting="showOutOfLogic" type="checkbox" class="form-check-input">
                            <label for="showOutOfLogic" class="form-label"><svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-9"></use></svg>Show out of logic</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showHigherLogic" data-setting="showHigherLogic" type="checkbox" class="form-check-input">
                            <label for="showHigherLogic" class="form-label"><img src="static/images/higher-logic.svg" class="tooltip-check-graphic align-middle">Show higher logic levels</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showChecked" data-setting="showChecked" type="checkbox" class="form-check-input">
                            <label for="showChecked" class="form-label"><svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-checked"></use></svg>Show checked locations</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showVanilla" data-setting="showVanilla" type="checkbox" class="form-check-input">
                            <label for="showVanilla" class="form-label"><svg class="tooltip-check-graphic align-middle"><use xlink:href="#difficulty-0-vanilla"></use></svg>Show vanilla checks</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showOwned" data-setting="showOwnedPickups" type="checkbox" class="form-check-input">
                            <label for="showOwned" class="form-label" style="display: inline-block;">
                                <div class="row ms-0 px-0">
                                    <div class="col-auto px-0">
                                        <div class="settings-wrapper">
                                            <div class="node-overlay-wrapper">
                                                <div class="icon-wrapper behind-tracker">
                                                    <div class="behind-tracker-overlay"></div>
                                                    <svg class="icon" style="width: 100%; height: 100%;">
                                                        <use xlink:href="#difficulty-0-vanilla"></use>
                                                    </svg>
                                                    <svg class="icon static-difficulty hollow">
                                                        <use xlink:href="#difficulty-0-hollow"></use>
                                                    </svg>
                                                    <img src="static/images/MAGIC_POWDER_1.png" class="node-item-overlay" data-node-item="MAGIC_POWDER" onmousedown="preventDoubleClick(event)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto px-0">
                                        Show owned vanilla pickups
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showVanillaEntrances" data-setting="showVanillaEntrances" type="checkbox" class="form-check-input">
                            <label for="showVanillaEntrances" class="form-label" data-bs-toggle="tooltip" data-bs-title="Show vanilla entrances and dungeon stairs"><img class="tooltip-check-graphic align-middle" src="static/images/vanilla-entrance.svg">Show vanilla entrances</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="showLogicHints" data-setting="showLogicHints" type="checkbox" class="form-check-input">
                            <label for="showLogicHints" class="form-label" data-bs-toggle="tooltip" data-bs-title="Show logic hints"><img class="tooltip-check-graphic align-middle" src="static/images/logicHints.svg">Show logic hints</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group pb-2">
                    <legend>Autotracker</legend>
                    <div class="row">
                        <div class="col-auto">
                            <input id="mainEnableAutotracking" data-setting="enableAutotracking" type="checkbox" class="form-check-input">
                            <label for="mainEnableAutotracking" class="form-label">Enable Autotracker</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="autotrackerAddressSetting" class="form-label">Server <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Address of the device that the autotracker is running on. Hostname or IP only, no port. The autotracker listens on port 17026. Note that modern browsers will typically block insecure connections to remote addresses. Either download the offline version of Magpie or configure your browser to allow insecure WebSocket connections."></label>
                            <input type="text" id="autotrackerAddressSetting" data-setting="autotrackerAddress" class="form-control" aria-label="Server" placeholder="127.0.0.1">
                        </div>
                    </div>
                </fieldset>
            <!-- </div>
            <div class="col-auto"> -->
                <fieldset class="form-group">
                    <!-- <legend>Features</legend> -->
                    <div class="row">
                        <div class="col">
                            <input id="autotrackItems" data-setting="autotrackItems" type="checkbox" class="form-check-input">
                            <label for="autotrackItems" class="form-label">Track items</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="autotrackChecks" data-setting="autotrackChecks" type="checkbox" class="form-check-input">
                            <label for="autotrackChecks" class="form-label">Track checks</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="autotrackEntrances" data-setting="autotrackEntrances" type="checkbox" class="form-check-input">
                            <label for="autotrackEntrances" class="form-label">Track entrances</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="autotrackSettings" data-setting="autotrackSettings" type="checkbox" class="form-check-input">
                            <label for="autotrackSettings" class="form-label">Track settings</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="autotrackSpoilers" data-setting="autotrackSpoilers" type="checkbox" class="form-check-input">
                            <label for="autotrackSpoilers" class="form-label">Track spoilers <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="Loads a spoiler log from the ROM but does not spoil anything until asked"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="followMap" data-setting="followMap" type="checkbox" class="form-check-input">
                            <label for="followMap" class="form-label">Map follows location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="followToUnderworld" class="form-label">Map follows to underworld <img class="invert" src="static/images/question-circle.svg" data-bs-toggle="tooltip" data-bs-custom-class="secondary-tooltip" data-bs-title="'Advanced ER' means that the map will only automatically switch to the underworld when the entrance randomizer setting is set to Wild or higher"></label>
                            <select id="followToUnderworld" class="form-select" data-setting="followToUnderworld" aria-label="followToUnderworld">
                                <option value="never">Never</option>
                                <option value="advanced">Advanced ER</option>
                                <option value="always">Always</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="autotrackGraphicsPack" data-setting="autotrackGraphicsPack" type="checkbox" class="form-check-input">
                            <label for="autotrackGraphicsPack" class="form-label">Graphics pack</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="linkFaceSetting" data-setting="linkFace" type="checkbox" class="form-check-input">
                            <label for="linkFaceSetting" class="form-label"> <img src="static/images/linkface.png"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Layouts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto mx-2">
                <div class="row">
                    <label for="itemsTemplate" class="form-label">Main Items</label>
                    <select id="itemsTemplate" class="form-select" data-setting="itemsTemplate" aria-label="itemsTemplate">
                        <option value="sevenbysix.html">Default</option>
                        <option value="default.html">Classic</option>
                        <option value="notrade.html">No Trade Items</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="row pt-2">
                    <input type="file" accept=".html,.htm" class="hidden" id="customItemsInput" onchange="getFile(this, pickCustomItemsPath);" />
                    <button type="button" class="btn btn-secondary" onclick="document.getElementById('customItemsInput').click();">Pick Custom</button>
                </div>
            </div>
            <div class="col col-auto mx-2">
                <div class="row">
                    <label for="dungeonItemsTemplate" class="form-label">Dungeon items</label>
                    <select id="dungeonItemsTemplate" class="form-select" data-setting="dungeonItemsTemplate" aria-label="dungeonItemsTemplate">
                        <option value="default.html">Default</option>
                        <option value="compact.html">Compact</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="row pt-2">
                    <input type="file" accept=".html,.htm" class="hidden" id="customDungeonItemInput" onchange="getFile(this, pickCustomDungeonItemsPath);" />
                    <button type="button" class="btn btn-secondary" onclick="document.getElementById('customDungeonItemInput').click();">Pick Custom</button>
                </div>
            </div>
            <div class="col col-auto mx-2">
                <div class="row">
                    <label for="graphicsPack" class="form-label">Graphics pack</label>
                    <select id="graphicsPack" class="form-select" data-setting="graphicsPack" aria-label="graphicsPack">
                        <option value="">Default</option>
                    {% for option in graphicsOptions|sort %}
                        <option value="/{{option}}">{{option}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-auto">
                <h2>Colors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff0' class="color-label" data-bs-toggle="tooltip" data-bs-title="In logic" data-bs-trigger="hover"><div class="difficulty-0 static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-0"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff0" data-setting="diff0Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="In logic" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff0Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff0Alpha" data-setting="diff0Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff0V' class="color-label" data-bs-toggle="tooltip" data-bs-title="In logic, vanilla" data-bs-trigger="hover"><div class="difficulty-0 vanilla static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-0-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff0V" data-setting="diff0VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="In logic, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff0VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff0VAlpha" data-setting="diff0VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>

            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff1' class="color-label" data-bs-toggle="tooltip" data-bs-title="+1 difficulty" data-bs-trigger="hover"><div class="difficulty-1 static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-1"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff1" data-setting="diff1Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="+1 difficulty" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff1Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff1Alpha" data-setting="diff1Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff1V' class="color-label" data-bs-toggle="tooltip" data-bs-title="+1 difficulty, vanilla" data-bs-trigger="hover"><div class="difficulty-1 vanilla static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-1-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff1V" data-setting="diff1VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="+1 difficulty, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff1VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff1VAlpha" data-setting="diff1VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff2' class="color-label" data-bs-toggle="tooltip" data-bs-title="+2 difficulty" data-bs-trigger="hover"><div class="difficulty-2 static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-2"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff2" data-setting="diff2Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="+2 difficulty" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff2Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff2Alpha" data-setting="diff2Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff2V' class="color-label" data-bs-toggle="tooltip" data-bs-title="+2 difficulty, vanilla" data-bs-trigger="hover"><div class="difficulty-2 vanilla static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-2-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff2V" data-setting="diff2VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="+2 difficulty, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff2VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff2VAlpha" data-setting="diff2VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>

            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff3' class="color-label" data-bs-toggle="tooltip" data-bs-title="+3, +4 difficulty" data-bs-trigger="hover"><div class="difficulty-3 static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-3"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff3" data-setting="diff3Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="+3, +4 difficulty" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff3Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff3Alpha" data-setting="diff3Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff3V' class="color-label" data-bs-toggle="tooltip" data-bs-title="+3, +4 difficulty, vanilla" data-bs-trigger="hover"><div class="difficulty-3 vanilla static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-3-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff3V" data-setting="diff3VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="+3, +4 difficulty, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff3VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff3VAlpha" data-setting="diff3VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col col-auto">
                <div class="color-block">
                    <label for='diff8' class="color-label" data-bs-toggle="tooltip" data-bs-title="Tracker logic" data-bs-trigger="hover"><div class="difficulty-8 static-difficulty-wrapper align-middle"><div class="difficulty-8-overlay"></div><svg class="icon static-difficulty"><use xlink:href="#difficulty-8"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff8" data-setting="diff8Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="Tracker logic" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff8Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff8Alpha" data-setting="diff8Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff8V' class="color-label" data-bs-toggle="tooltip" data-bs-title="Tracker logic, vanilla" data-bs-trigger="hover"><div class="difficulty-8 vanilla static-difficulty-wrapper align-middle"><div class="difficulty-8-overlay"></div><svg class="icon static-difficulty"><use xlink:href="#difficulty-8-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff8V" data-setting="diff8VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="Tracker logic, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff8VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff8VAlpha" data-setting="diff8VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div> -->

            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff9' class="color-label" data-bs-toggle="tooltip" data-bs-title="Out of logic" data-bs-trigger="hover"><div class="difficulty-9 static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-9"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff9" data-setting="diff9Color" class="form-control" data-bs-toggle="tooltip" data-bs-title="Out of logic" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff9Alpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff9Alpha" data-setting="diff9Alpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diff9V' class="color-label" data-bs-toggle="tooltip" data-bs-title="Out of logic, vanilla" data-bs-trigger="hover"><div class="difficulty-9 vanilla static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-9-vanilla"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diff9V" data-setting="diff9VColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="Out of logic, vanilla" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diff9VAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diff9VAlpha" data-setting="diff9VAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
            <div class="col col-auto">
                <div class="color-block">
                    <label for='diffChecked' class="color-label" data-bs-toggle="tooltip" data-bs-title="Checked" data-bs-trigger="hover"><div class="difficulty-checked static-difficulty-wrapper align-middle"><svg class="icon static-difficulty"><use xlink:href="#difficulty-checked"></use></svg></div></label>
                    <input class="color-picker" type="color" id="diffChecked" data-setting="diffCheckedColor" class="form-control" data-bs-toggle="tooltip" data-bs-title="Checked" data-bs-trigger="hover">

                    <div class="opacity-block ps-2" data-bs-toggle="tooltip" data-bs-title="Opacity" data-bs-trigger="hover">
                        <label for='diffCheckedAlpha' class="color-label"><img class="invert" src="static/images/eye.svg"></label>
                        <input id="diffCheckedAlpha" data-setting="diffCheckedAlpha" type="range" min="0.2" max="1" step="0.1" value="" class="form-range node-opacity-slider pt-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto">
                <label for='bgColor' class="color-label">Background Color</label>
                <input class="color-picker" type="color" id="bgColor" data-setting="bgColor" class="form-control">
            </div>
            <div class="col col-auto">
                <label for='textColor' class="color-label">Text Color</label>
                <input class="color-picker" type="color" id="textColor" data-setting="textColor" class="form-control">
            </div>
            <div class="col col-auto">
                <label for='highlightColor' class="color-label">Item Highlight Color</label>
                <input class="color-picker" type="color" id="highlightColor" data-setting="highlightColor" class="form-control">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="resetColors()" data-bs-toggle="tooltip" data-bs-title="Reset colors to default" data-bs-trigger="hover">
                    <img src="static/images/arrow-clockwise.svg">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto">
                <input id="colorAssistMaps" data-setting="colorAssistMaps" type="checkbox" class="form-check-input">
                <label for="colorAssistMaps" class="form-label">Color assist maps</label>
            </div>
        </div>
        <div class="row justify-content-end pt-4">
            <div class="col-auto">
                <input type="file" accept=".json" class="hidden" id="logicDiffInput" onchange="getFile(this, importLogicDiff);" />
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('logicDiffInput').click();"  data-bs-toggle="tooltip" data-bs-title="Import Logic Diff" data-bs-trigger="hover"><img src="static/images/download.svg"></button>
            </div>
            <div class="col">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="exportState()"  data-bs-toggle="tooltip" data-bs-title="Export Tracker State" data-bs-trigger="hover"><img src="static/images/upload.svg"></button>
                <input type="file" accept=".json" class="hidden" id="stateInput" onchange="getFile(this, importState);" />
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('stateInput').click();"  data-bs-toggle="tooltip" data-bs-title="Import Tracker State" data-bs-trigger="hover"><img src="static/images/download.svg"></button>
            </div>
        </div>
    </div>
</div>