<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="argsOffcanvas" aria-labelledby="argsLabel">
    <div class="offcanvas-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="offcanvas-title" id="argsLabel">Settings</h5>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas" onclick="saveSettings()">Save</button>
            </div>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-auto">
                <h2>Randomizer Flags</h2>
            </div>
            <div class="col">

            </div>
            <div class="col-3">
                <input type="text" id="shortString" class="form-control" aria-label="Short String">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="loadShortString()">Load Short String</button>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Main</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-logic" class="form-label">Logic</label>
                            <select id="arg-logic" class="form-select" data-flag="logic" aria-label="logic">
                                <option value="casual">Casual</option>
                                <option value="">Normal</option>
                                <option value="hard">Hard</option>
                                <option value="glitched">Glitched</option>
                                <option value="hell">Hell</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Items</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-heartpiece" class="form-check-input" data-flag="heartpiece">
                            <label class="form-check-label" for="arg-heartpiece">Randomize heart pieces</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-seashells" class="form-check-input" data-flag="seashells">
                            <label class="form-check-label" for="arg-seashells">Randomize hidden seashells</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-heartcontainers" class="form-check-input" data-flag="heartcontainers">
                            <label class="form-check-label" for="arg-heartcontainers">Randomize heart containers</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-instruments" class="form-check-input" data-flag="instruments">
                            <label class="form-check-label" for="arg-instruments">Randomize instruments</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-tradequest" class="form-check-input" data-flag="tradequest">
                            <label class="form-check-label" for="arg-tradequest">Randomize trade quest</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-witch" class="form-check-input" data-flag="witch">
                            <label class="form-check-label" for="arg-witch">Randomize item given by the witch</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-rooster" class="form-check-input" data-flag="rooster">
                            <label class="form-check-label" for="arg-rooster">Add the rooster</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Gameplay</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-dungeon_items" class="form-label">Dungeon items</label>
                            <select id="arg-dungeon_items" class="form-select" data-flag="dungeon_items" aria-label="dungeon_items">
                                <option value="">Standard</option>
                                <option value="smallkeys">Small keys</option>
                                <option value="localkeys">Map/Compass/Beaks</option>
                                <option value="nightmarekey">MCB + SmallKeys</option>
                                <option value="keysanity">Keysanity</option>
                                <option value="keysy">Keysy</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-randomstartlocation" class="form-check-input" data-flag="randomstartlocation">
                            <label class="form-check-label" for="arg-randomstartlocation">Random start location</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <input type="checkbox" id="arg-dungeonshuffle" class="form-check-input" data-flag="dungeonshuffle">
                            <label class="form-check-label" for="arg-dungeonshuffle">Dungeon shuffle</label>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-entranceshuffle" class="form-label">Entrance randomizer</label>
                            <select id="arg-entranceshuffle" class="form-select" data-flag="entranceshuffle" aria-label="entranceshuffle">
                                <option value="none">Default</option>
                                <option value="simple">Simple</option>
                                <option value="advanced">Advanced</option>
                                <option value="expert">Expert</option>
                                <option value="insanity">Insanity</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="row pb-3">
                        <div class="col">
                            <label for="arg-boss" class="form-label">Boss shuffle</label>
                            <select id="arg-boss" class="form-select" data-flag="boss" aria-label="boss">
                                <option value="default">Normal</option>
                                <option value="shuffle">Shuffle</option>
                                <option value="random">Randomize</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-miniboss" class="form-label">Miniboss shuffle</label>
                            <select id="arg-miniboss" class="form-select" data-flag="miniboss" aria-label="miniboss">
                                <option value="default">Normal</option>
                                <option value="shuffle">Shuffle</option>
                                <option value="random">Randomize</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-goal" class="form-label">Goal</label>
                            <select id="arg-goal" class="form-select" data-flag="goal" aria-label="goal">
                                <option value="egg">Egg</option>
                                <option value="seashells">Seashell hunt (20)</option>
                                <option value="bingo">Bingo!</option>
                                <option value="bingo-full">Bingo-25!</option>
                                <!-- <option value="raft">Raft</option> -->
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-auto">
                <fieldset class="form-group">
                    <legend>Special</legend>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-bowwow" class="form-label">Good boy mode</label>
                            <select id="arg-bowwow" class="form-select" data-flag="bowwow" aria-label="bowwow">
                                <option value="normal">Disabled</option>
                                <option value="always">Enabled</option>
                                <option value="swordless">Enabled (swordless)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-overworld" class="form-label">Overworld</label>
                            <select id="arg-overworld" class="form-select" data-flag="overworld" aria-label="overworld">
                                <option value="normal">Normal</option>
                                <option value="dungeondive">Dungeon dive</option>
                                <option value="nodungeons">No dungeons</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <label for="arg-owlstatues" class="form-label">Owl statues</label>
                            <select id="arg-owlstatues" class="form-select" data-flag="owlstatues" aria-label="owlstatues">
                                <option value="">Never</option>
                                <option value="dungeon">In dungeons</option>
                                <option value="overworld">On the overworld</option>
                                <option value="both">Dungeons and overworld</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>

            {% set ns = namespace(group='') %}
            {% set knownFlags = ['logic', 'heartpiece', 'seashells', 'heartcontainers', 'instruments', 'tradequest', 'witch', 'rooster', 'dungeon_items', 'goal', 'bowwow', 
                                 'overworld', 'owlstatues', 'race', 'spoilerformat', 'superweapons', 'boss', 'randomstartlocation', 'dungeonshuffle', 'entranceshuffle', 
                                 'miniboss', 'doubletrouble', 'hardMode', 'hpmode', 'accessibility_rule', 'itempool', 'boomerang', 'steal', 'test', 'romdebugmode', 'exportmap',
                                 'removeFlashingLights', 'quickswap', 'textmode', 'removeNagMessages', 'lowhpbeep', 'music', 'input_filename', 'output_filename', 'dump',
                                 'spoiler_filename', 'seed', 'emptyplan', 'timeout', 'log_directory', 'plan', 'multiworld', 'forwardfactor', 'linkspalette', 'accessibility',
                                 'hardmode'] %}

            {% for arg in flags if  arg.name not in knownFlags %}
                {% if 'Other' != ns.group %}
                    {% if ns.group != '' %}
                        </fieldset>
                    </div>
                    {% endif %}
                    <div class="col-auto">
                        <fieldset class="form-group">
                            <legend>Other</legend>
                {% endif %}

                <div class="row pb-3">
                    <div class="col">
                    {% if arg.type != 'bool' %}
                        <label for="arg-{{arg.name}}" class="form-label">{{arg.name | title}}</label>
                        <select id="arg-{{arg.name}}" class="form-select" data-flag="{{arg.name}}" aria-label="{{arg.name}}">
                        {% if arg.choices != None %}
                            {% for choice in arg.choices %}
                                {% if choice == arg.value %}
                                    {% set selected = "selected" %}
                                {% else %}
                                    {% set selected = "" %}
                                {% endif %}

                                <option value="{{choice}}" {{selected}}>{{choice | title}}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    {% else %}
                        {% if arg.value %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}

                        <input type="checkbox" id="arg-{{arg.name}}" class="form-check-input" data-flag="{{arg.name}}" {{checked}} value="">
                        <label class="form-check-label" for="arg-{{arg.name}}">
                            {{arg.name | title}}
                        </label>
                    {% endif %}
                    </div>
                </div>

                {% set ns.group = 'Other' %}

            {% endfor %}

            {% if ns.group != '' %}
                </div>
            </fieldset>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Personalization</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <label for="checkSize" class="form-label">Check size</label>
                        <input id="checkSize" data-setting="checkSize" type="range" min="16" max="48" value="" class="form-range">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="mapBrightness" class="form-label">Map brightness</label>
                        <input id="mapBrightness" data-setting="mapBrightness" type="range" min="25" max="100" value="" class="form-range">
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <input id="showOutOfLogic" data-setting="showOutOfLogic" type="checkbox" class="form-check-input">
                        <label for="showOutOfLogic" class="form-label">Show out of logic</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="ignoreHigherLogic" data-setting="ignoreHigherLogic" type="checkbox" class="form-check-input">
                        <label for="ignoreHigherLogic" class="form-label">Ignore higher logic levels</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="hideChecked" data-setting="hideChecked" type="checkbox" class="form-check-input">
                        <label for="hideChecked" class="form-label">Hide checked locations</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="hideVanilla" data-setting="hideVanilla" type="checkbox" class="form-check-input">
                        <label for="hideVanilla" class="form-label">Hide vanilla checks</label>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <input id="animateChecks" data-setting="animateChecks" type="checkbox" class="form-check-input">
                        <label for="animateChecks" class="form-label">Animate checks</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="swapMouseButtons" data-setting="swapMouseButtons" type="checkbox" class="form-check-input">
                        <label for="swapMouseButtons" class="form-label">Swap mouse buttons</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="swapItemsAndMap" data-setting="swapItemsAndMap" type="checkbox" class="form-check-input">
                        <label for="swapItemsAndMap" class="form-label">Swap items and map</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="showDungeonItemCount" data-setting="showDungeonItemCount" type="checkbox" class="form-check-input">
                        <label for="showDungeonItemCount" class="form-label">Show major dungeon item count</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Layouts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-auto mx-2">
                <div class="row">
                    <label for="itemsTemplate" class="form-label">Main Items</label>
                    <select id="itemsTemplate" class="form-select" data-setting="itemsTemplate" aria-label="itemsTemplate">
                        <option value="default.html">Default</option>
                        <option value="notrade.html">No Trade Items</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="row pt-2">
                    <button type="button" class="btn btn-secondary" onclick="pickCustomItemsPath()">Pick Custom</button>
                </div>
            </div>
            <div class="col col-auto mx-2">
                <div class="row">
                    <label for="dungeonItemsTemplate" class="form-label">Dungeon items</label>
                    <select id="dungeonItemsTemplate" class="form-select" data-setting="dungeonItemsTemplate" aria-label="dungeonItemsTemplate">
                        <option value="default.html">Default</option>
                        <option value="compact.html">Compact</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="row pt-2">
                    <button type="button" class="btn btn-secondary" onclick="pickCustomDungeonItemsPath()">Pick Custom</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-end pt-4">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="exportState()"  data-bs-toggle="tooltip" data-bs-title="Export Tracker State" data-bs-trigger="hover"><img src="static/images/upload.svg"></button>
                <button type="button" class="btn btn-secondary" onclick="importState()"  data-bs-toggle="tooltip" data-bs-title="Import Tracker State" data-bs-trigger="hover"><img src="static/images/download.svg"></button>
            </div>
        </div>
    </div>
</div>
