<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="argsOffcanvas" aria-labelledby="argsLabel">
    <div class="offcanvas-header">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="offcanvas-title" id="argsLabel">Settings</h5>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas" onclick="saveSettings()">Save</button>
            </div>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-auto">
                <h2>Randomizer Flags</h2>
            </div>
        </div>
        <div class="row">
            {% set ns = namespace(group='') %}
            {% set groupWhitelist = ['Main flags', 'Item flags', 'Gameplay flags', 'Special flags'] %}
            {% set flagBlacklist = ['race', 'spoilerformat', 'superweapons', 'boss', 'randomstartlocation', 'dungeonshuffle', 'entranceshuffle', 'miniboss', 'doubletrouble', 'hardMode', 'hpmode', 'accessibility_rule', 'itempool', 'boomerang'] %}

            {% for arg in flags if arg.group in groupWhitelist and arg.name not in flagBlacklist %}
                {% if arg.group != ns.group %}
                    {% if ns.group != '' %}
                        </fieldset>
                    </div>
                    {% endif %}
                    <div class="col-auto">
                        <fieldset class="form-group">
                            <legend>{{arg.group}}</legend>
                {% endif %}

                <div class="row pb-3">
                    <div class="col">
                    {% if arg.type != 'bool' %}
                        <label for="arg-{{arg.name}}" class="form-label">{{arg.name}}</label>
                        <select id="arg-{{arg.name}}" class="form-select" data-flag="{{arg.name}}" aria-label="{{arg.name}}">
                            {% for choice in arg.choices %}
                                {% if choice == arg.value %}
                                    {% set selected = "selected" %}
                                {% else %}
                                    {% set selected = "" %}
                                {% endif %}

                                <option value="{{choice}}" {{selected}}>{{choice}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {% if arg.value %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}

                        <input type="checkbox" id="arg-{{arg.name}}" class="form-check-input" data-flag="{{arg.name}}" {{checked}} value="">
                        <label class="form-check-label" for="arg-{{arg.name}}">
                            {{arg.name}}
                        </label>
                    {% endif %}
                    </div>
                </div>

            {% set ns.group = arg.group %}

            {% endfor %}
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Personalization</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <label for="checkSize" class="form-label">Check Size</label>
                        <input id="checkSize" data-setting="checkSize" type="range" min="16" max="48" value="" class="form-range">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="mapBrightness" class="form-label">Map Brightness</label>
                        <input id="mapBrightness" data-setting="mapBrightness" type="range" min="25" max="100" value="" class="form-range">
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col">
                        <input id="showOutOfLogic" data-setting="showOutOfLogic" type="checkbox" class="form-check-input">
                        <label for="showOutOfLogic" class="form-label">Show Out of Logic</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="animateChecks" data-setting="animateChecks" type="checkbox" class="form-check-input">
                        <label for="animateChecks" class="form-label">Animate Checks</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="swapMouseButtons" data-setting="swapMouseButtons" type="checkbox" class="form-check-input">
                        <label for="swapMouseButtons" class="form-label">Swap Mouse Buttons</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="swapItemsAndMap" data-setting="swapItemsAndMap" type="checkbox" class="form-check-input">
                        <label for="swapItemsAndMap" class="form-label">Swap Items and Map</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row import-export pt-4">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="importState()"  data-bs-toggle="tooltip" data-bs-title="Import State"><img src="static/images/upload.svg"></button>
                <button type="button" class="btn btn-secondary" onclick="exportState()"  data-bs-toggle="tooltip" data-bs-title="Export State"><img src="static/images/download.svg"></button>
            </div>
        </div>
    </div>
</div>
