<!-- Main items -->
<div class="row item-width">
    {{ item('SHIELD', max="2") }}
    {{ item("SWORD", max="2") }}
    {{ item("TOADSTOOL", secondary="TOADSTOOL_CHECKED", secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item("MAGIC_POWDER", max="1", secondary="MAX_POWDER_UPGRADE") }}
    {{ item("SHOVEL", max="1") }}
    {{ item("BOMB", max="1", secondary="MAX_BOMBS_UPGRADE") }}
    {{ item("BOW", max="1", secondary="MAX_ARROWS_UPGRADE") }}
    {{ item("FEATHER", max="1", secondary="ROOSTER", secondaryMax="1", src="jumpSrc('${player}')", condition=allItems['ROOSTER'] >= 1, highlightOwnedSecondary=True) }}
    {{ item("FEATHER", max="1", condition=allItems['ROOSTER'] == 0) }}
    {{ item("POWER_BRACELET", max="2") }}
    {{ item("PEGASUS_BOOTS", max="1") }}
    {{ item("FLIPPERS", max="1") }}
    {{ item("HOOKSHOT", max="1") }}
    {{ item("MAGIC_ROD", max="1") }}
    {% if args.overworld == 'alttp' %}
        {{ item("HAMMER", max="1") }}
    {% else %}
        {{ item("BLUE_TUNIC", max="1", secondary="RED_TUNIC", secondaryMax="1", src="tunicSrc('${player}')", highlightOwnedSecondary=True) }}
    {% endif %}
    {{ item("OCARINA", max="1") }}
    {{ item("SONG1", max="1") }}
    {{ item("SONG2", max="1") }}
    {{ item("SONG3", max="1") }}
    {{ item("BOWWOW", max="1") }}
    {{ item("BOOMERANG", max="1") }}
    {{ item("SEASHELL", max_image="1", overlay_count="SEASHELL") }}

    {% if args.keyholesanity %}
        {{ item("TAIL_KEY", max="1", secondary="TAIL_CAVE_OPENED", secondaryMax="1") }}
        {{ item("ANGLER_KEY", max="1", secondary="ANGLER_TUNNEL_OPENED", secondaryMax="1") }}
        {{ item("FACE_KEY", max="1", secondary="FACE_SHRINE_OPENED", secondaryMax="1") }}
        {{ item("BIRD_KEY", max="1", secondary="EAGLE_TOWER_OPENED", secondaryMax="1") }}
        {{ item("SLIME_KEY", max="1", secondary="KEY_CAVERN_OPENED", secondaryMax="1") }}
        {{ item("GOLD_LEAF", max_image="5", gfx=False, secondary="CASTLE_GATE_OPENED", secondaryMax="1") }}
    {% else %}
        {{ item("TAIL_KEY", max="1") }}
        {{ item("ANGLER_KEY", max="1") }}
        {{ item("FACE_KEY", max="1") }}
        {{ item("BIRD_KEY", max="1") }}
        {{ item("SLIME_KEY", max="1") }}
        {{ item("GOLD_LEAF", max_image="5", gfx=False) }}
    {% endif %}
</div>

{% if args.tradequest %}
<div class="row pb-3 pt-1 item-width">
    {{ item('TRADING_ITEM_YOSHI_DOLL', max="1", secondary='TRADING_ITEM_YOSHI_DOLL_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_RIBBON', max="1", secondary='TRADING_ITEM_RIBBON_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_DOG_FOOD', max="1", secondary='TRADING_ITEM_DOG_FOOD_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_BANANAS', max="1", secondary='TRADING_ITEM_BANANAS_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_STICK', max="1", secondary='TRADING_ITEM_STICK_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_HONEYCOMB', max="1", secondary='TRADING_ITEM_HONEYCOMB_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_PINEAPPLE', max="1", secondary='TRADING_ITEM_PINEAPPLE_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_HIBISCUS', max="1", secondary='TRADING_ITEM_HIBISCUS_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_LETTER', max="1", secondary='TRADING_ITEM_LETTER_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_BROOM', max="1", secondary='TRADING_ITEM_BROOM_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_FISHING_HOOK', max="1", secondary='TRADING_ITEM_FISHING_HOOK_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_NECKLACE', max="1", secondary='TRADING_ITEM_NECKLACE_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_SCALE', max="1", secondary='TRADING_ITEM_SCALE_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
    {{ item('TRADING_ITEM_MAGNIFYING_GLASS', max="1", secondary='TRADING_ITEM_MAGNIFYING_GLASS_CHECKED', secondaryMax="1", highlightOwnedSecondary=True) }}
</div>
{% endif %}